<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>emp admin</title>
	{% include 'bootstrapimport.html' %}
</head>
<body>
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th colspan="11">Active employees: {{ employees.count }}</th>
			</tr>
			<tr>
				<th colspan="11">Existing Employee List:
					<button>Show inactive Employees</button>
					<button>Show researchers variable</button>
				</th>
			</tr>
			<tr>
				<th>Edit</th>
				<th>First name</th>
				<th>last name</th>
				<th>Position</th>
				<th>Active</th>
				<th>Work from home</th>
				<th>User type</th>
				<th>location</th>
				<th>Added</th>
				<th>Last Login</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			{% for employee in employees %}
			<tr>
				<td><button class="btn btn-primary btn-sm">Edit</button></td>
				<td>{{ employee.first_name }}</td>
				<td>{{ employee.last_name }}</td>
				<td>{{ employee.position.name }}</td>
				<td>{{ employee.active}}</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>{{ employee.last_login }}</td>
				<td><button class="btn btn-danger btn-sm">delete</button></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>