<nav aria-label="Page navigation example">
	<ul class="pagination justify-content-center">
		{% if projects.has_previous %}
		<li class="text-dark page-item">
			<a href="edit?page={{ projects.previous_page_number }}" class="page-link">Previous</a>
		</li>
		{% else %}
		<li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
		{% endif %}
		{% if projects.number|add:'-4' > 1 %}
		<li class="text-dark page-item">
			<a href="edit?page=1" class="page-link">1</a>
		</li>
		<li>
			<a href="edit?page={{ projects.number|add:'-5' }}" class="page-link">&hellip;</a>
		</li>
		{% endif %}

		{% for i in projects.paginator.page_range %}
		{% if projects.number == i %}
		<li class="page-item active">
			<a href="edit?page={{i}}" class="page-link">{{i}}</a>
		</li>
		{% elif i > projects.number|add:'-5' and i < projects.number|add:'5' %}
		<li class="page-item {% if i == projects.number %} active {% endif %}">
			<a href="edit?page={{i}}" class="page-link">{{i}}</a>
		</li>
		{% endif %}
		{% endfor %}

		{% if projects.paginator.num_pages > projects.number|add:'4' %}
		<li class="page-item">
			<a href="edit?page={{ projects.number|add:'5' }}" class="page-link">&hellip;</a>
		</li>
		{% if book.number != projects.paginator.num_pages %}
		<li class="text-dark page-item">
			<a href="edit?page={{ projects.paginator.num_pages }}" class="page-link">{{ projects.paginator.num_pages }}</a>
		</li>
		{% endif %}
		{% endif %}
		{% if projects.has_next %}
		<li class="page-item">
			<a href="edit?page={{ projects.next_page_number }}" class="page-link">Next</a>
		</li>
		{% else %}
		<li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
		{% endif %}

	</ul>
</nav>