<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Messages system</title>
	{% include 'bootstrapimport.html' %}
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Home</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Send message <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="#">Show my messages</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="#">Read unread replies</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="#">View all sent messages</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="#">Unsubmitted messages</a>
				</li>
			</ul>

			<form class="form-inline my-2 my-lg-0">
				<select name="messagefrom" id="" class="form-control">
					<option value="">Messages sent by</option>
					f<option value="">abc</option>
				</select>
				&nbsp
				<input type="text" autocomplete="off" name="keyword" placeholder="keyword" class="form-control">
				&nbsp
				<button type="submit" class="btn btn-info">Search</button>
			</form>
		</div>
	</nav>

	{% if bedrockmessages %}
	{% else %}
		<h3>No messages present</h3>
	{% endif %}
</body>
</html>