<!-- {% for user in online_users %}
<tr>
	<td>{{user.username}}</td>
	<td>{{user.duration}}</td>
</tr> 
{% endfor %} -->

{% for user in online_users %}
    {% if forloop.first %}
        <tr>
    {% endif %}
    <td>
        {{ user.username }} &nbsp&nbsp&nbsp&nbsp	{{ user.duration }}
    </td>
    {% if forloop.counter|divisibleby:"3" %}
        </tr>
    	{% if not forloop.last %}
    	<tr>
    	{% endif %}
    {% endif %}
    {% if forloop.last %}
         </tr>
    {% endif %}
{% endfor %}