<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bedrock login</title>
	{% include 'bootstrapimport.html' %}
</head>
<body onload="loginfocus()">
	<div class="loginform">
	<div class="jumbotron container">
		{% if messages %}
		{% for message in messages %}
			<div class="alert alert-danger alert-dismissable" role="alert" style="text-align: center;">
				<button class="close" data-dismiss="alert">
					<small><sup>x</sup></small>
				</button>
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
	<form action="/" method="post">
		{% csrf_token %}
		<div class="row">
			<div class="col-md-3 col-lg-3 col-sm-1 col-xs-1"></div>
			<div class="col-md-6 col-lg-6 col-sm-10 col-xs-10">
				<input type="text" name="username" class="form-control" placeholder="enter name" required>
			</div>
			<div class="col-md-3 col-lg-3 col-sm-1 col-xs-1"></div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-3 col-lg-3 col-sm-1 col-xs-1"></div>
			<div class="col-md-6 col-lg-6 col-sm-10 col-xs-10">
				<input type="password" name="userpassword" class="form-control" placeholder="enter password" required>
			</div>
			<div class="col-md-3 col-lg-3 col-sm-1 col-xs-1"></div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-4 col-lg-4 col-sm-3 col-xs-3"></div>
			<div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
				<center><input type="submit" class="btn btn-success" tabindex="1"></center>
			</div>
			<div class="col-md-4 col-lg-4 col-sm-3 col-xs-3"></div>
		</div>
	</form>
	</div>
	</div>
</body>
<script>
		// username
	function loginfocus(){
		document.getElementsByName('username')[0].focus();
	}
	</script>
</html>