<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Register new User</title>
	{% include 'bootstrapimport.html' %}
</head>
<body onload="onfocus()">
	<div class="container jumbotron">
		<table class="table">
			<form action="" method="POST">
				{% csrf_token %}
				<tr>
					<td> <input type="text" name="firstname" placeholder="firstname" class="form-control"> </td>
					<td> <input type="text" name="lastname" placeholder="lastname" class="form-control"> </td>
				</tr>
				<tr>
					<td colspan="2"><input type="email" name="email" placeholder="enter email" class="form-control"></td>
				</tr>
				<tr>
					<td><input type="text" name="username" placeholder="username" class="form-control"></td>
					<td><input type="password" name="password" placeholder="password" class="form-control"></td>
				</tr>
				<tr>
					<td colspan="2" style="text-align: center;"><input type="submit" class="btn btn-success"></td>
				</tr>
			</form>
	</table>
	</div>
</body>
<script>
	function onfocus(){
		document.getElementsByName('firstname')[0].focus()
	}
</script>
</html>