<div class="col-lg-6 border border-secondary">
	<table class="table">
		<tr class="thead-dark"><th style="text-align: center;" colspan="5">ENGINEER</th></tr>
		<tr>
			<td>Engineer id</td>
			<td><input type="text" class="form-control" id="engineerid" name="engineer" readonly value="{{ project.engineer.entity_id }}"></td>
			<td><button type="button" class="btn btn-sm btn-primary" onclick="openengineerwindow()">Select/Add</button></td>
			<td><button type="button" class="btn btn-sm btn-primary">Edit</button></td>
			<td><button type="button" class="btn btn-sm btn-primary">Reset</button></td>
		</tr>
		<tr>
			<td>Name: </td>
			<td colspan="4"><input type="text" class="form-control" id="engineername" readonly value="{{ project.engineer.entityname }}"></td>
		</tr>
		<tr>
			<td>Address: </td>
			<td colspan="4"><input type="text" class="form-control" id="engineeraddress" readonly value="{{ project.engineer.street1 }}"></td>
		</tr>
		<tr>
			<td>Address line 2: </td>
			<td colspan="4"><input type="text" class="form-control" id="engineeraddress2" readonly value="{{ project.engineer.street2 }}" ></td>
		</tr>
		<tr>
			<td>City: </td>
			<td colspan="4"><input type="text" class="form-control" id="engineercity" readonly value="{{ project.engineer.city }}"></td>
		</tr>
		<tr>
			<td>State: </td>
			<td colspan="4"><input type="text" class="form-control" id="engineerstate" readonly value="{{ project.engineer.stateprov }}"></td>
		</tr>
		<tr>
			<td>Zip: </td>
			<td colspan="4"><input type="text" class="form-control" id="engineerzip" readonly value="{{ project.engineer.zip }}"></td>
		</tr>
		<tr>
			<td>Country: </td>
			<td colspan="4"><input type="text" id="engineercountry" class="form-control" value="{{ project.engineer.country }}" readonly></td>
		</tr>
		<tr>
			<td>Phone: </td>
			<td colspan="2"><input type="text" class="form-control" id="engineerphone" readonly value="{{ project.engineer.phone }}"></td>
			<td colspan="2"><input type="text" id="engineerphoneext" class="form-control" placeholder="Ext:" readonly value="{{ project.engineer.phoneext }}"></td>
		</tr>
		<tr>
			<td>Fax: </td>
			<td colspan="4"><input type="text" id="engineerfax" class="form-control" value="{{ project.engineer.fax }}" readonly></td>
		</tr>
		<tr>
			<td>Email: </td>
			<td colspan="4"><input type="text" id="engineeremail" class="form-control" value="{{ project.engineer.email }}" readonly></td>
		</tr>
		<tr>
			<td>URL: </td>
			<td colspan="4"><input type="text" id="engineerurl" class="form-control"  value="{{ project.engineer.newsurl }}" readonly></td>
		</tr>
		<tr>
			<td>Notes: </td>
			<td colspan="4"><input type="text" id="engineernotes" class="form-control" value="{{ project.engineer.notes }}" readonly></td>
		</tr>

		<tr>
			<td>ADR: </td>
			<td colspan="4">
				<label for="engineeradrph">PH: </label><input type="checkbox" id="engineeradrph" name="engineeradrph"{% if project %}{% if project.adr_request_from_ph == project.engineer.entity_id %} checked {% endif %} {% endif %}>
				<label for="engineeradrbt">BT: </label><input type="checkbox" id="engineeradrbt" name="engineeradrbt" {% if project %}{% if project.adr_request_from_bt == project.engineer.entity_id %} checked {% endif %}{% endif %}>
				<label for="engineeradrca">CA: </label><input type="checkbox" id="engineeradrca" name="engineeradrca"{% if project %}{% if project.adr_request_from_ca == project.engineer.entity_id %} checked {% endif %}{% endif %}>
			</td>
		</tr>
		<tr>
			<td>
				Engr. Contact ID:
			</td>
			<td colspan="4">
				<input type="text" id="engineercontactid" style="width: 50%; float: left;" name="engineercontact" class="form-control" readonly value="{{ project.engineercontact.contact_id }}">
				<button type="button" class="btn btn-sm btn-primary" onclick="solicitationcontact('engineer')">Select/Add/Edit</button>
				<button type="button" class="btn btn-sm btn-primary">Reset</button>
			</td>
		</tr>
		<tr>
			<td>Contact Name:</td>
			<td colspan="4"><input type="text" class="form-control" id="engineercontactname" readonly value="{{ project.engineercontact.name }}"></td>
		</tr>
		<tr>
			<td>Contact Type:</td>
			<td colspan="4">
				<input type="text" class="form-control" id="engineercontacttype" readonly value="{{ project.engineercontact.type }}">
			</td>
		</tr>
		<tr>
			<td>Contact Phone: </td>
			<td colspan="2"><input type="text" class="form-control" id="engineercontactphone" readonly value="{{ project.engineercontact.phone }}"></td>
			<td colspan="2"><input type="text" class="form-control" placeholder="Ext no:" id="engineercontactext" readonly value="{{ project.engineercontact.phoneext }}"></td>
		</tr>
		<tr>
			<td>Contact Fax:</td>
			<td colspan="4"><input type="text" class="form-control" id="engineercontactfax" readonly value="{{ project.engineercontact.fax }}"></td>
		</tr>
		<tr>
			<td>Contact email:</td>
			<td colspan="4"><input type="text" class="form-control" id="engineerecontactemail" readonly value="{{ project.engineercontact.email }}"></td>
		</tr>
		<tr>
			<td>Info Request:</td>
			<td colspan="4">
				<input type="radio" name="engineerinforequest" id="engineerconfirmdata">
				<label for="engineerconfirmdata">Confirm data</label>
				<br>	
				<input type="radio" name="engineerinforequest" id="engineerrequestplanholders">
				<label for="engineerrequestplanholders">Request Planholders</label>
				<br>
				<button type="button" class="btn btn-sm btn-info">Email Engineer</button>&nbsp&nbsp&nbsp<button type="button" class="btn btn-sm btn-info">Fax Engineer</button>
			</td>
		</tr>
	</table>
</div>