<table class="table border border-dark">
	<thead class="thead-dark">
		<tr>
			<th colspan="5" style="text-align: center; color: #FF99FF">Information</th>
		</tr>
	</thead>
	<tr>
		<td colspan="3">Owner's Solicictation Name <button type="button" class="btn btn-sm btn-info" onclick="case_corrector('owner_solicitation_name')">Case Corrector</button></td>
		<td colspan="2">Owner's Solicitation/Bid Number</td>
	</tr>
	<tr>
		<td colspan="3"><input type="text" class="form-control" name="ownerprjname" value="{{ project.ownerprjname }}" maxlength="150" id="owner_solicitation_name"></td>
		<td colspan="2"><input type="text" class="form-control" name="ownerprjno"  value="{{ project.ownerprjno }}" maxlength="50"></td>
	</tr>
	<tr>
		<td>Location</td>
		<td>Low Value</td>
		<td></td>
		<td>High Value</td>

		<td>Bond: 
			<input type="radio" name="bond" onclick="change_bond_data(5)" id="5%"><label for="5%"> 5%</label> 
			<input type="radio" name="bond" onclick="change_bond_data(10);" id="10%"><label for="10%"> 10%</label>
		</td>
	</tr>
	<tr>
		<td>
			<select name="location" class="form-control">
				<option value="">--select location--</option>
				{% for location in locations %}
				<option value="{{ location.location_id }}" {% if project.location == location %} selected {% endif %}>{{location.name}}</option>
				{% endfor %}
			</select>
		</td>
		<td><input type="number" class="form-control" name="lowvalue" value="{{ project.lowvalue }}"></td>
		<td><button type="button" class="btn btn-sm btn-outline-primary">=</button></td>
		<td><input type="number" class="form-control" name="highvalue" value="{{ project.highvalue }}"></td>
		<td><input type="text" class="form-control" id="bond_data" name="bond" value="{{ project.bond }}"></td>
	</tr>
	<tr>
		<td colspan="1" style="text-align: center;">Pre-bid Date:</td>
		<td colspan="1"><input type="date" name="prebiddate" id="pre_bid_date" class="form-control" value="{{ project.prebiddate|date:'c' }}"></td>
		<td></td>
		<td colspan="2">
			<label style="float: left; margin-right: 20px;" >Pre-Bid Time</label>
			<select name="prebidtime" id="" class="form-control" style="width: 50%;">
				{% for bidtime in bidtimes %}
					<option value="{{ bidtime }}" {% if project.prebidtime == bidtime %}selected{% endif %}>{{ bidtime }}</option>
			{% endfor %}
			</select>
			
		</td>
	</tr>
	<tr>
		{% load customfilter %}
		<td colspan="1"><label for="mandatory">Mandatory</label><input type="checkbox" name="prebidmandatory" id="mandatory" {% if project.prebidmandatory %} checked {% endif %}></td>
		<td colspan="2"><label for="prequal_required">Prequal required</label><input value="8" type="checkbox" name="formpreqrequired" id="prequal_required" {% if project %} {% if project.tags|bitwise_and:8 %}checked{% endif %}{% endif %}></td>
		<td colspan="2">
			<label for="term_contract">Term Contract </label>
			<input type="checkbox" value="16" name="term_contract" id="term_contract" {% if project %} {% if project.tags|bitwise_and:16 %}checked{% endif %}{% endif %}>
		</td>
	</tr>
	<tbody id="term_contract_data"{% if not project %}style="display: none;"{% endif %}>
		<tr>
			<td>Current Contract Start:</td>
			<td> <input type="date" class="form-control" name="current_start" value="{{ termcontract.current_start|date:'c' }}"> </td>
			<td colspan="2">Current Contract End:</td>
			<td> <input type="date" class="form-control" name="current_stop" value="{{ termcontract.current_stop|date:'c' }}"></td>
		</tr>
		<tr>
			<td>Original Contract Start:</td>
			<td><input type="date" class="form-control" name="orig_start" value="{{ termcontract.orig_start|date:'c' }}"></td>
			<td colspan="2">Original Contract End:</td>
			<td><input type="date" class="form-control" name="orig_stop" value="{{ termcontract.orig_stop|date:'c' }}"></td>
		</tr>
		<tr>
			<td>Contract Term in months</td>
			<td><input type="number" class="form-control" name="contract_term" value="{{ termcontract.contract_term }}"></td>
			<td colspan="2">Number of Extentions in months</td>
			<td><input type="number" class="form-control" name="ext_count" value="{{ termcontract.ext_count }}"></td>
		</tr>
		<tr>
			<td>Lenths of Extentions(months)</td>
			<td><input type="number" class="form-control" name="ext_length" value="{{ termcontract.ext_length }}"></td>
			<td colspan="2">Contract Status</td>
			<td>
				<select name="status" class="form-control">
					<option value=""></option>
					{% for status in projectstatus %}
					<option value="{{ status.pk}}" {% if termcontract.status == status.pk %} selected {% endif %}>{{ status.status }}</option>
					{% endfor %}
				</select>
			</td>
		</tr>
	</tbody>
</table>