<h5 class="col-lg-12" style="text-align: center; background-color: #252525; color: #fff; padding-top: 10px; padding-bottom: 10px;">NOTES</h5>
<div class="col-lg-6">
	Scope: <button type="button" class="btn btn-sm btn-info" onclick="case_corrector('notes_scope')">Case Corrector</button>
	<textarea class="form-control "rows="8" name="scope" id="notes_scope">{{ project.scope }}</textarea>
</div>
<div class="col-lg-6">
	Plans and Specs <button type="button" class="btn btn-sm btn-info" onclick="case_corrector('notes_plans_specs')">Case Corrector</button> 
	<input type="checkbox" id="noadr" name="no_adr" {% if project.no_adr %} checked {% endif %}><label for="noadr">No ADR</label>
	<textarea class="form-control "rows="8" name="plans" id="notes_plans_specs">{{ project.plans }}</textarea>
	<div class="input-group mt-2">
		<p>plan price:&nbsp&nbsp </p>
		<input type="number" style="width: 50%;" class="form-control" name="planprice" value="{{ project.planprice }}">
	</div>
	<br>
</div>
<div class="col-lg-12"><strong>Outside Link:</strong></div>
<div id="addfield" class="col-lg-12">
	{% if project %}
	{% if project.outsidelink < 2  %}
	<input type="text" class="form-control" name="outsidelink" value="{{ project.outsidelink }}">
	{% else %}
	{% for link in numberoflinks %}
	<div class="input-group">
		<input type="text"  style="width:92%;float:left;margin-top:10px;" class="form-control" name="outsidelink" value="{{ link }}" id="linkfield{{ forloop.counter }}">
		{% if not forloop.first %}
		<button style="margin:10px 0px 0px 10px;" class="btn btn-primary" id ="buttonlinkfield{{ forloop.counter }}" onclick=deletefield({{ forloop.counter }})>Delete</button>
		{% endif %}
	</div>
	{% endfor %}
	{% endif %}
	{% else %}
	<input type="text" class="form-control" name="outsidelink" value="{{ project.outsidelink }}">
	{% endif %}
</div>
<div class="col-lg-12 mt-2">
	<button type="button" class="btn btn-outline-secondary btn-sm" onclick="addfield()">Add Field</button>
</div>
<br><br><br>
<div class="col-lg-6">
	Notes:
	<button type="button" class="btn btn-sm btn-info" onclick="case_corrector('notes_notes')">Case Corrector</button>
	<button type="button" class="btn btn-sm btn-info" onclick="clear_notes()">Clear Notes </button>
	<input type="checkbox" id="fed_funding"><label for="fed_funding">Fed funding</label>
	<input type="checkbox" id="prev_wage"><label for="prev_wage">Prev Wage</label>
	<textarea class="form-control "rows="8" name="notes" id="notes_notes">{{ project.notes }}</textarea>
</div>
<div class="col-lg-6">
	<p>Reporter Notes</p>
	<textarea class="form-control "rows="8" name="reporternotes">{{ project.reporternotes }}</textarea>
</div>

