<div class="col-lg-6 border border-secondary">
	<table class="table">
		<tr class="thead-dark">
			<th style="text-align: center;" colspan="5">OWNER</th>
		</tr>
		<tr>
			<td>Owner id</td>
			<td><input type="text" class="form-control" id="ownerid" name="owner" readonly value="{{ project.owner.entity_id }}"></td>
			<td><button type="button" class="btn btn-sm btn-primary" onclick="openownerwindow();">Select/Add</button></td>
			<td><button type="button" class="btn btn-sm btn-primary">Edit</button></td>
			<td><button type="button" class="btn btn-sm btn-primary">Reset</button></td>
		</tr>
		<tr>
			<td>Name: </td>
			<td colspan="4"><input type="text" class="form-control" id="ownername" readonly value="{{ project.owner.entityname }}" ></td>
		</tr>
		<tr>
			<td>Address: </td>
			<td colspan="4"><input type="text" class="form-control" id="owneraddress" readonly value="{{ project.owner.street1 }}" ></td>
		</tr>
		<tr>
			<td>Address line 2: </td>
			<td colspan="4"><input type="text" class="form-control" id="owneraddress2" readonly value="{{ project.owner.street2 }}"></td>
		</tr>
		<tr>
			<td>City: </td>
			<td colspan="4"><input type="text" class="form-control" id="ownercity" readonly value="{{ project.owner.city }}"></td>
		</tr>
		<tr>
			<td>State: </td>
			<td colspan="4"><input type="text" class="form-control" id="ownerstate" readonly value="{{ project.owner.stateprov }}"></td>
		</tr>
		<tr>
			<td>Zip: </td>
			<td colspan="4"><input type="text" class="form-control" id="ownerzip" readonly value="{{ project.owner.zip }}"></td>
		</tr>
		<tr>
			<td>Country: </td>
			<td colspan="4"><input type="text" class="form-control" id="ownercountry" value="{{ project.owner.country }}" readonly></td>
		</tr>
		<tr>
			<td>Phone: </td>
			<td colspan="2"><input type="text" class="form-control" id="ownerphone" readonly value="{{ project.owner.phone }}"></td>
			<td colspan="2"><input type="text" class="form-control" placeholder="Ext:" readonly value="{{ project.owner.phoneext }}" id="ownerphonext"></td>
		</tr>
		<tr>
			<td>Fax: </td>
			<td colspan="4"><input type="text" class="form-control" id="ownerfax" value="{{ project.owner.fax }}" readonly></td>
		</tr>
		<tr>
			<td>Email: </td>
			<td colspan="4"><input type="text" class="form-control" id="owneremail" value="{{ project.owner.email }}" readonly></td>
		</tr>
		<tr>
			<td>URL: </td>
			<td colspan="4"><input type="text" class="form-control" id="ownerurl" value="{{ project.owner.newsurl }}" readonly></td>
		</tr>
		<tr>
			<td>Notes: </td>
			<td colspan="4"><input type="text" id="ownernotes" class="form-control" value="{{ project.owner.notes }}" readonly></td>
		</tr>
		<tr>
			<td>ADR: </td>
			<td colspan="4">
				<label for="owneradrph">PH: </label><input type="checkbox" id="owneradrph" name="owneradrph"{% if project %} {% if project.adr_request_from_ph == project.owner.entity_id %} checked {% endif %}{% endif %}>
				<label for="owneradrbt">BT: </label><input type="checkbox" id="owneradrbt" name="owneradrbt"{% if project %} {% if project.adr_request_from_bt == project.owner.entity_id %} checked {% endif %}{% endif %}>
				<label for="owneradrca">CA: </label><input type="checkbox" id="owneradrca" name="owneradrca"{% if project %} {% if project.adr_request_from_ca == project.owner.entity_id %} checked {% endif %} {% endif %}>
			</td>
		</tr>
		<tr>
			<td>
				Owner Contact ID:
			</td>
			<td colspan="4">
				<input type="text" class="form-control" name="ownercontact" style="width: 50%; float: left;" id="ownercontactid" readonly value="{{ project.ownercontact.contact_id }}">
				<button type="button" class="btn btn-sm btn-primary" onclick="solicitationcontact('owner')">Select/Add/Edit</button>
				<button type="button" class="btn btn-sm btn-primary">Reset</button>
			</td>
		</tr>
		<tr>
			<td>Contact Name:</td>
			<td colspan="4"><input disabled type="text" class="form-control" id="ownercontactname" value="{{ project.ownercontact.name }}"></td>
		</tr>
		<tr>
			<td>Contact Type:</td>
			<td colspan="4">
				<input type="text" class="form-control" id="ownercontacttype" readonly value="{{ project.ownercontact.type }}">
			</td>
		</tr>
		<tr>
			<td>Contact Phone: </td>
			<td colspan="2"><input type="text" class="form-control" id="ownercontactphone" readonly value="{{ project.ownercontact.phone }}"></td>
			<td colspan="2"><input type="text" class="form-control" placeholder="Ext no:" id="ownercontactphoneext" readonly value="{{ project.ownercontact.phoneext }}"></td>
		</tr>
		<tr>
			<td>Contact Fax:</td>
			<td colspan="4"><input type="text" class="form-control" id="ownercontactfax" readonly value="{{ project.ownercontact.fax }}"></td>
		</tr>
		<tr>
			<td>Contact email:</td>
			<td colspan="4"><input type="text" class="form-control" id="ownercontactemail" readonly value="{{ project.ownercontact.email }}"></td>
		</tr>
		<tr>
			<td>Info Request:</td>
			<td colspan="4">
				<input type="radio" name="ownerinforequest" id="ownerconfirmdata">
				<label for="ownerconfirmdata">Confirm data</label>
				<br>	
				<input type="radio" name="ownerinforequest" id="ownerrequestplanholder">
				<label for="ownerrequestplanholder">Request Planholders</label>
				<br>
				<button type="button" class="btn btn-sm btn-info">Email Engineer</button>&nbsp&nbsp&nbsp<button type="button" class="btn btn-sm btn-info">Fax Engineer</button>
			</td>
		</tr>
	</table>
</div>