<div class="col-lg-6 border border-secondary">
	<table class="table">
		<tr class="thead-dark">
			<th colspan="5" style="text-align: center;">PLAN & SPECS</th>
		</tr>
		<tr>
			<td>Plankeeper</td>
			<td colspan="4" >
				<select id="plankeepersameas" class="form-control">
					<option value=""></option>
					<option value="sameasowner">Same as Owner</option>
					<option value="sameasengineer">Same as Engineer</option>
					<option value="sameasmanager">Same as Const. Mgr</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Prime Con Id</td>
			<td><input type="text" class="form-control" id="plankeeperid" name="plan" readonly value="{{ project.plan.entity_id }}"></td>
			<td><button type="button" class="btn btn-primary btn-sm" onclick="openplankeeperwindow()">Select/Add</button></td>
			<td><button type="button" class="btn btn-primary btn-sm">Edit</button></td>
			<td><button type="button" class="btn btn-primary btn-sm">Reset</button></td>
		</tr>
		<tr>
			<td>Name: </td>
			<td colspan="4"><input type="text" class="form-control" id="plankeepername" readonly value="{{ project.plan.entityname }}"></td>
		</tr>
		<tr>
			<td>Address: </td>
			<th colspan="4"><input type="text" class="form-control" id="plankeeperaddress" readonly value="{{ project.plan.street1 }}"></th>
		</tr>
		<tr>
			<td>Address line 2: </td>
			<th colspan="4"><input type="text" class="form-control" id="plankeeperaddress2" readonly value="{{ project.plan.street2 }}"></th>
		</tr>
		<tr>
			<td>City: </td>
			<th colspan="4"><input type="text" class="form-control" id="plankeepercity" readonly value="{{ project.plan.city }}"></th>
		</tr>
		<tr>
			<td>State: </td>
			<th colspan="4"><input type="text" class="form-control" id="plakeeperstate" readonly value="{{ project.plan.stateprov }}" ></th>
		</tr>
		<tr>
			<td>Zip: </td>
			<th colspan="4"><input type="text" class="form-control" id="plankeeperzip" readonly value="{{ project.plan.zip }}"></th>
		</tr>
		<tr>
			<td>Country: </td>
			<td colspan="4"><input type="text" class="form-control" value="{{ project.plan.country }}" id="plankeepercountry" readonly></td>
		</tr>
		<tr>
			<td>Phone: </td>
			<td colspan="2"><input type="text" class="form-control" name="planphone" id="plankeeperphone" value="{{ project.planphone }}"></td>
			<td colspan="2"><input type="text" class="form-control" name="planphoneext" placeholder="Ext: " value="{{ project.planphoneext }}"></td>
		</tr>
		<tr>
			<td>Fax: </td>
			<td colspan="4"><input type="text" class="form-control" name="planfax" value="{{ project.planfax }}"></td>
		</tr>
		<tr>
			<td>Email: </td>
			<td colspan="4"><input type="text" class="form-control" name="planemail" value="{{ project.planemail }}"></td>
		</tr>
		<tr>
			<td>URL: </td>
			<th colspan="4"><input type="text" class="form-control" id="plankeeperurl" value="{{ project.plan.newsurl }}" readonly></th>
		</tr>
		<tr>
			<td>Notes: </td>
			<td colspan="4"><input type="text" class="form-control"  value="{{ project.plan.notes }}" id="plankeepernotes" readonly></td>
		</tr>
		<tr>
			<td>ADR</td>
			<td colspan="4">
				<label for="plankeeperadrph">PH:</label>
				<input type="checkbox" id="plankeeperadrph" name="plankeeperadrph" {% if project %}{% if project.adr_request_from_ph == project.plan.entity_id %} checked {% endif %} {% endif %}>
				<label for="plankeeperadrbt">BT:</label>
				<input type="checkbox" id="plankeeperadrbt" name="plankeeperadrbt"{% if project %} {% if project.adr_request_from_bt == project.plan.entity_id %} checked {% endif %} {% endif %}>
				<label for="plankeeperadrca">CA</label>
				<input type="checkbox" id="plankeeperadrca" name="plankeeperadrca" {% if project %} {% if project.adr_request_from_ca == project.plan.entity_id %} checked {% endif %} {% endif %}>
			</td>
		</tr>
		<tr>
			<td>Plankeeper Contact</td>
			<td colspan="4">
				<select id="plankeepercontactsameas" class="form-control">
					<option value=""></option>
					<option value="sameasowner">Same as Owner</option>
					<option value="sameasengineer">Same as Engineer</option>
					<option value="sameasmanager">Same as Const. Manager</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Plankeeper Contact ID:</td>
			<td><input type="text" class="form-control" name="plancontact" id="plankeepercontactid" readonly value="{{ project.plancontact.contact_id }}"></td>
			<td colspan="2"><button type="button" class="btn btn-sm btn-primary" onclick="solicitationcontact('plankeeper')">Select/Add/Edit</button></td>
			<td><button type="button" class="btn btn-sm btn-primary">Reset</button></td>
		</tr>
		<tr>
			<td>Contact Name</td>
			<td colspan="4"><input type="text" class="form-control" readonly id="plankeepercontactname" value="{{ project.plancontact.name }}"></td>
		</tr>
		<tr>
			<td>Contact Type</td>
			<td colspan="4"><input type="text" class="form-control" readonly id="plankeepercontacttype" value="{{ project.plancontact.type }}"></td>
		</tr>
		<tr>
			<td>Contact Phone</td>
			<td colspan="2"> <input type="text" class="form-control" readonly id="plankeepercontactphone" value="{{ project.plancontact.phone }}"></td>
			<td colspan="2"><input type="text" class="form-control" readonly placeholder="Ex:" id="plankeepercontactext" value="{{ project.plancontact.phoneext }}"></td>
		</tr>
		<tr>
			<td>Contact Fax:</td>
			<td colspan="4"><input type="text" class="form-control" readonly id="plankeepercontactfax" value="{{ project.plancontact.fax }}"></td>
		</tr>
		<tr>
			<td>Contact email:</td>
			<td colspan="4"><input type="text" class="form-control" readonly id="plankeepercontactemail" value="{{ project.plancontact.email }}"></td>
		</tr>
		<tr>
			<td>Plan Price</td>
			<td colspan="4"></td>
		</tr>
	</table>
</div>