<div class="col-lg-6 border border-secondary">
	<table class="table">
		<tr class="thead-dark">
			<th colspan="5" style="text-align: center;">PRIME CONTRACTOR/CONSTRUCTION MNGR</th>
		</tr>
		<tr>
			<td>Prime Con Id</td>
			<td><input type="text" class="form-control" id="managerid" name="prime" readonly value="{{ project.prime.entity_id }}"></td>
			<td><button type="button" class="btn btn-primary btn-sm" onclick="openmanagerwindow()">Select/Add</button></td>
			<td><button type="button" class="btn btn-primary btn-sm">Edit</button></td>
			<td><button type="button" class="btn btn-primary btn-sm">Reset</button></td>
		</tr>
		<tr>
			<td>Name: </td>
			<td colspan="4"><input type="text" class="form-control" id="managername" readonly value="{{ project.prime.entityname }}" ></td>
		</tr>
		<tr>
			<td>Address: </td>
			<th colspan="4"><input type="text" class="form-control" id="manageraddress" readonly value="{{ project.prime.street1 }}"></th>
		</tr>
		<tr>
			<td>Address line 2: </td>
			<th colspan="4"><input type="text" class="form-control" id="manageraddress2" readonly value="{{ project.prime.street2 }}"></th>
		</tr>
		<tr>
			<td>City: </td>
			<th colspan="4"><input type="text" class="form-control" id="managercity" readonly value="{{ project.prime.city }}"></th>
		</tr>
		<tr>
			<td>State: </td>
			<th colspan="4"><input type="text" class="form-control" id="managerstate" readonly value="{{ project.prime.stateprov }}"></th>
		</tr>
		<tr>
			<td>Zip: </td>
			<th colspan="4"><input type="text" class="form-control" id="managerzip" readonly value="{{ project.prime.zip }}"></th>
		</tr>
		<tr>
			<td>Country: </td>
			<td colspan="4"><input type="text" class="form-control" id="managercountry" readonly value="{{ project.prime.country }}"></td>
		</tr>
		<tr>
			<td>Phone: </td>
			<td colspan="2"><input type="text" class="form-control" id="managerphone" readonly value="{{ project.prime.phone }}"></td>
			<td colspan="2"><input type="text" class="form-control" placeholder="Ext: " id="managerphoneext" readonly value="{{ project.prime.phoneext }}"></td>
		</tr>
		<tr>
			<td>Fax: </td>
			<td colspan="4"><input type="text" class="form-control" value="{{ project.prime.fax }}" id="managerfax" readonly></td>
		</tr>
		<tr>
			<td>Email: </td>
			<td colspan="4"><input type="text" class="form-control" value="{{ project.prime.email }}" id="manageremail" readonly></td>
		</tr>
		<tr>
			<td>URL: </td>
			<th colspan="4"><input type="text" class="form-control" value="{{ project.prime.newsurl }}" id="managerurl" readonly></th>
		</tr>
		<tr>
			<td>Notes: </td>
			<td colspan="4"><input type="text" class="form-control" value="{{ project.prime.notes }}" id="managernotes" readonly></td>
		</tr>
		<tr>
			<td>Other Source</td>
			<td colspan="4"></td>
		</tr>
		<tr>
			<td>Prime Contr. Contact Id</td>
			<td><input type="text" class="form-control" id="managercontactid" name="primecontact" readonly value="{{ project.primecontact.contact_id }}"></td>
			<td colspan="2"><button type="button" class="btn btn-sm btn-primary" onclick="solicitationcontact('manager')">Select/Add/Edit</button></td>
			<td><button type="button" class="btn btn-sm btn-primary">Reset</button></td>
		</tr>
		<tr>
			<td>Contact Name</td>
			<td colspan="4"><input type="text" class="form-control" id="managercontactname" readonly value="{{ project.primecontact.name }}"></td>
		</tr>
		<tr>
			<td>Contact Type</td>
			<td colspan="4"><input type="text" class="form-control" id="managercontacttype" readonly value="{{ project.primecontact.type }}"></td>
		</tr>
		<tr>
			<td>Contact Phone</td>
			<td colspan="2"> <input type="text" class="form-control" id="managercontactphone" readonly value="{{ project.primecontact.phone }}"></td>
			<td colspan="2"><input type="text" class="form-control" placeholder="Ex:" value="{{ project.primecontact.phoneext }}" readonly></td>
		</tr>
		<tr>
			<td>Contact Fax:</td>
			<td colspan="4"><input type="text" class="form-control" id="managercontactfax" readonly value="{{ project.primecontact.fax }}"></td>
		</tr>
		<tr>
			<td>Contact email:</td>
			<td colspan="4"><input type="text" class="form-control" id="managercontactmail" readonly value="{{ project.primecontact.email }}"></td>
		</tr>
	</table>
</div>