{% load customfilter %}

<table class="table border border-secondary">
	<tr class="thead-dark"><th colspan="7" style="text-align: center; color: red;">Required</th></tr>
	<tr>
		<td class="required">Source</td>
		<td colspan="6"><input type="text" class="form-control" name="source" required value="{{ project.source|default_if_none:'' }}" maxlength="150"></td>
	</tr>
	<tr>
		<td class="required">Country</td>
		<td style="width: 50px;">
			<select name="country" id="country_search" class="form-control" required>
				<option value="">---select Country-----</option>
				{% for country in countries %}
				<option value="{{ country.country_id }}" {% if project.country.pk == country.pk %} selected {% endif %}>{{ country.name }}</option>
				{% endfor %}
			</select>
		</td>
		<td class="required">State</td>
		<td>
			<select name="stateprov" id="state_search" class="form-control" >
				<option value="{{ project.stateprov.stateprov_id|default_if_none:'' }}">{{ project.stateprov|default_if_none:'---select state-----' }}</option>
			</select>
		</td>
		<td colspan="2" class="required" >County</td>
		<td>
			<select name="county" id="county_search" class="form-control" >
				<option value="{{ project.county.county_id|default_if_none:'' }}">{{ project.county|default_if_none:'---select county-----' }}</option>
			</select>
		</td>
	</tr>
	<tr>
		<td class="required">Bid Date</td>
		<td><input type="date" class="form-control" name="biddate" id="required_bid_date" value="{{ project.biddate|date:'c' }}" required></td>
		<td class="required">Bid Time</td>
		<td>
			<select name="bidtime" class="form-control" required>
				<option value="">--select time--</option>
				{% for bidtime in bidtimes %}
					<option value="{{ bidtime }}" {% if project.bidtime == bidtime %}selected{% endif %}>{{ bidtime }}</option>
				{% endfor %}
			</select>
		</td>
		<td class="required" colspan="2">
			<label for="presol">Presol</label> 
			<input type="checkbox" name="presolicitation" id="presol" value="1" {% if project.presolicitation %}checked{% endif %} >
		</td>
		<td class="required">
			<label for="Incomplete_required">Incomplete</label>
			<input type="checkbox" name="incomplete" id="Incomplete_required"{% if project.incomplete %}checked{% endif %} >
		</td>
	</tr>
	<tr>
		<td class="required">
			<input type="radio" name="formprivate_federal" id="requiredNone" value="0" checked>
			<label for="requiredNone">None</label>
			<input type="radio" name="formprivate_federal" id="requiredPrivate" value="1" required {% if project %}{% if project.tags|bitwise_and:1 %}checked{% endif %}{% endif %}>
			<label for="requiredPrivate">Private</label>
			<input type="radio" name="formprivate_federal" id="requiredFederal" value="4" {% if project %}{% if project.tags|bitwise_and:4 %}checked{% endif %}{% endif %}>
			<label for="requiredFederal">Federal</label>
			
		</td>
		<td  class="required">
			<label for="Sub-Contract">Sub-Contract: </label>
			<input type="checkbox" value="2" name="formsubcontract" id="Sub-Contract"{% if project %}  {% if project.tags|bitwise_and:2 %}checked{% endif %}{% endif %}>
		</td>
		<td class="required">Class</td>
		<td>
			<select name="classname" class="form-control" required>
				<option value="">--select class--</option>
				{% for projectclass in projectclasses %}
				<option value="{{projectclass.classname_id}}" {% if project.classname == projectclass %} selected {% endif %}>{{projectclass.classname}}</option>
				{% endfor %}
			</select>
		</td>
		<td class="required">Source</td>
		<td colspan="2">
			<select name="sourcetype" id="" class="form-control" required>
				<option value="">-- select source --</option>
				{% for source in sources %}
				<option value="{{source.sourcetypeid}}" {% if project.sourcetype == source %} selected {% endif %}>{{source.name}}</option>
				{% endfor %}
			</select>
		</td>
	</tr>
</table>