<table class="table table-bordered">
	<tr>
		<td>
			<input type="checkbox" name="setaside" value="1" id="setaside_1" {% if 1 in setasides %} checked {% endif %}> 
			<label for="setaside_1">MBE/DBE (Minority / Disadvantaged)</label>
		</td>
		<td>
			<input type="checkbox" name="setaside" value="2" id="setaside_2" {% if 2 in setasides %} checked {% endif %}>
			<label for="setaside_2">SBA Category 8A</label>
		</td>
		<td>
			<input type="checkbox" name="setaside" value="3" id="setaside_3" {% if 3 in setasides %} checked {% endif %}>
			<label for="setaside_3">SBE / SME (Small Biz Ent)</label>
		</td>
		<td>
			<input type="checkbox"  name="setaside" value="4" id="setaside_4" {% if 4 in setasides %} checked {% endif %}>
			<label for="setaside_4">WBE (Woman Biz Enterprise)</label>
		</td>
		<td>
			<input type="checkbox"  name="setaside" value="6" id="setaside_6" {% if 6 in setasides %} checked {% endif %}>
			<label for="setaside_6">DVBE (Service Disabled Vet)</label>
		</td>
		<td>
			<input type="checkbox" name="setaside" value="7" id="setaside_7" {% if 7 in setasides %} checked {% endif %}>
			<label for="setaside_7">Other Setaside</label>
		</td>
	</tr>
	<tr>
		<td>
			<input type="checkbox" name="setaside" value="9" id="setaside_9" {% if 9 in setasides %} checked {% endif %}>
			<label for="setaside_9">Native - First Nations</label>
		</td>
		<td>
			<input type="checkbox" name="setaside" value="10" id="setaside_10" {% if 10 in setasides %} checked {% endif %}>
			<label for="setaside_10">Hub-Zone</label>
		</td>
		<td>
			<input type="checkbox" name="setaside" value="12" id="setaside_12" {% if 12 in setasides %} checked {% endif %}>
			<label for="setaside_12">Veteran Owned Small Biz</label>
		</td>
		<td>
			<input type="checkbox" name="setaside" value="13" id="setaside_13" {% if 13 in setasides %} checked {% endif %}>
			<label for="setaside_13">SLBE (Small Local Business Ent.)</label>
		</td>
		<td>
			<input type="checkbox" name="setaside" value="14" id="setaside_14" {% if 14 in setasides %} checked {% endif %}>
			<label for="setaside_14">LBE (Local Business Ent.)</label>
		</td>
		<td>
			<input type="checkbox" name="setaside" value="15" id="setaside_15" {% if 15 in setasides %} checked {% endif %}>
			<label for="setaside_15">ESB - Emerging Small Business</label>
		</td>
	</tr>
</table>