<script>
	$(document).ready(function () {
		$("#country_search").change(function () {
			// alert('state_search');
			var val = $(this).val();
			{% for country in countries %}
			if (val == {{country.country_id}}) {
				$("#state_search").html('<option value=""></option>{% for state in states %}{% if country.country_id == state.country_id %}<option value="{{state.stateprov_id}}">{{state.name}}</option>{% endif %}{% endfor %}');
			}
			{% endfor %}
		});
		$("#state_search").change(function () {
			// alert('state_search');
			var val2 = $(this).val();
			{% for state in states %}
			if (val2 == {{state.stateprov_id}}) {
				$("#county_search").html('<option value=""></option>{% for county in countys %}{% if state.stateprov_id == county.stateprov_id %}<option value="{{county.county_id}}">{{county.countyname}}</option>{% endif %}{% endfor %}');
			}
			{% endfor %}
		});
		$("#plankeepersameas").change(function () {
			var val = $(this).val();
			if (val == 'sameasowner') {
				document.getElementById("plankeeperid").value=document.getElementById("ownerid").value;
				document.getElementById("plankeepername").value=document.getElementById("ownername").value;
				document.getElementById("plankeeperaddress").value=document.getElementById("owneraddress").value;
				document.getElementById("plankeeperaddress2").value=document.getElementById("owneraddress2").value;
				document.getElementById("plankeepercity").value=document.getElementById("ownercity").value;
				document.getElementById("plakeeperstate").value=document.getElementById("ownerstate").value;
				document.getElementById("plankeeperzip").value=document.getElementById("ownerzip").value;
				document.getElementById("plankeeperphone").value=document.getElementById("ownerphone").value;
				// document.getElementById("plankeepercontactid").value=document.getElementById("ownercontactid").value;
				
			}
			else if (val == 'sameasengineer'){
				document.getElementById("plankeeperid").value=document.getElementById("engineerid").value;
				document.getElementById("plankeepername").value=document.getElementById("engineername").value;
				document.getElementById("plankeeperaddress").value=document.getElementById("engineeraddress").value;
				document.getElementById("plankeeperaddress2").value=document.getElementById("engineeraddress2").value;
				document.getElementById("plankeepercity").value=document.getElementById("engineercity").value;
				document.getElementById("plakeeperstate").value=document.getElementById("engineerstate").value;
				document.getElementById("plankeeperzip").value=document.getElementById("engineerzip").value;
				document.getElementById("plankeeperphone").value=document.getElementById("engineerphone").value;
				// document.getElementById("plankeepercontactid").value=document.getElementById("engineercontactid").value;
				
			}
			else if (val == 'sameasmanager'){
				document.getElementById("plankeeperid").value=document.getElementById("managerid").value;
				document.getElementById("plankeepername").value=document.getElementById("managername").value;
				document.getElementById("plankeeperaddress").value=document.getElementById("manageraddress").value;
				document.getElementById("plankeeperaddress2").value=document.getElementById("manageraddress2").value;
				document.getElementById("plankeepercity").value=document.getElementById("managercity").value;
				document.getElementById("plakeeperstate").value=document.getElementById("managerstate").value;
				document.getElementById("plankeeperzip").value=document.getElementById("managerzip").value;
				document.getElementById("plankeeperphone").value=document.getElementById("managerphone").value;	
			}
		});
		$('#plankeepercontactsameas').change(function(){
			var val = $(this).val();
			if (val == 'sameasowner'){
				document.getElementById("plankeepercontactid").value=document.getElementById("ownercontactid").value;
				document.getElementById("plankeepercontactname").value=document.getElementById("ownercontactname").value;
				document.getElementById("plankeepercontacttype").value=document.getElementById("ownercontacttype").value;
				document.getElementById("plankeepercontactphone").value=document.getElementById("ownercontactphone").value;
				document.getElementById("plankeepercontactext").value=document.getElementById("ownercontactphoneext").value;
				document.getElementById("plankeepercontactfax").value=document.getElementById("ownercontactfax").value;
				document.getElementById("plankeepercontactemail").value=document.getElementById("ownercontactemail").value;
			}
			else if (val == 'sameasengineer'){
				document.getElementById("plankeepercontactid").value=document.getElementById("engineercontactid").value;
				document.getElementById("plankeepercontactname").value=document.getElementById("engineercontactname").value;
				document.getElementById("plankeepercontacttype").value=document.getElementById("engineercontacttype").value;
				document.getElementById("plankeepercontactphone").value=document.getElementById("engineercontactphone").value;
				document.getElementById("plankeepercontactext").value=document.getElementById("engineercontactphoneext").value;
				document.getElementById("plankeepercontactfax").value=document.getElementById("engineercontactfax").value;
				document.getElementById("plankeepercontactemail").value=document.getElementById("engineercontactemail").value;

			}
			else if(val == 'sameasmanager'){
				document.getElementById("plankeepercontactid").value=document.getElementById("managercontactid").value;
				document.getElementById("plankeepercontactname").value=document.getElementById("managercontactname").value;
				document.getElementById("plankeepercontacttype").value=document.getElementById("managercontacttype").value;
				document.getElementById("plankeepercontactphone").value=document.getElementById("managercontactphone").value;
				document.getElementById("plankeepercontactext").value=document.getElementById("managercontactphoneext").value;
				document.getElementById("plankeepercontactfax").value=document.getElementById("managercontactfax").value;
				document.getElementById("plankeepercontactemail").value=document.getElementById("managercontactemail").value;

			}
		})
		
		// $('#term_contract_data').css('display','none');
		$("#term_contract").change(function () {
			if($(this).prop('checked')){
				$('#term_contract_data').show();
			}
			else{
				$('#term_contract_data').hide();
			}
		});
		$("#pre_bid_date").change(function(){
			var reqbid_date = document.getElementById('required_bid_date').value;
			var prebid = $(this).val();
			if (reqbid_date<prebid) {
				alert('prebid cannot be more than bid date');
				document.getElementById('pre_bid_date').valueAsDate = null;
			}
		});
		$('#fed_funding').click(function(){
			if($(this).prop('checked') == true){
				document.getElementById('notes_notes').value += 'This solicitation has some or all federal funding, additional requirements may apply.'
			}
			else{
				textarea = document.getElementById('notes_notes')
				textarea.value = textarea.value.replace("This solicitation has some or all federal funding, additional requirements may apply.","");
			}
		})
		$('#prev_wage').click(function(){
			if($(this).prop('checked') == true){
				document.getElementById('notes_notes').value += 'This project has a "prevailing wage" requirement.'
			}
			else{
				textarea = document.getElementById('notes_notes')
				textarea.value = textarea.value.replace('This project has a "prevailing wage" requirement.',"");
			}
		})
	});
function change_bond_data(x){
	var str = x+"% bond";
	document.getElementById('bond_data').value = str;
}
function clearworktypes(){
	worktypes = document.getElementsByName('worktype')
	// worktypes.checked = false
	for (var i = 0; i < worktypes.length; i++) {
		worktypes[i].checked = False;
    }
}
function case_corrector(input_name) {
	var str = document.getElementById(input_name).value;
	str = str.toLowerCase();
	str = str.split(' ');
	for (var i = 0; i < str.length; i++) {
		str[i] = str[i].charAt(0).toUpperCase() + str[i].slice(1); 
	}
	str = str.join(' ');
	document.getElementById(input_name).value = str;
}
function clear_notes() {
	document.getElementById('notes_notes').value='';
	document.getElementById('fed_funding').checked = false;
	document.getElementById('prev_wage').checked = false;
}
function openownerwindow(){
	window.open ("{% url 'solicitation:projectoweneradd' %}?page=1", "OpenerTest");
}
function openengineerwindow(){
	window.open ("{% url 'solicitation:projectengineeradd' %}?page=1", "OpenerTest");
}
function openplankeeperwindow(){
	window.open("{% url 'solicitation:plankeeperadd' %}","OpenerTest");
}
function openmanagerwindow(){
	window.open("{% url 'solicitation:manageradd' %}","OpenerTest");
}
function solicitationcontact(name){
	var contactid = name+'contactid';
	contactid = document.getElementById(contactid).value;
	var entityid = name+'id';
	entityid = document.getElementById(entityid).value;
	x = 'addsolicitationcontact?solicotor='+name+'&contactid='+contactid+'&entityid='+entityid;
	window.open(x,'OpenerTest');
}
function addfield(){
	number_of_link_fields += 1;
	var input = '<input type="text" style="width:92%;float:left;margin-top:10px;" class="form-control" name="outsidelink" id="linkfield'+number_of_link_fields+'" ><button style="margin:10px 0px 0px 10px;" class="btn btn-primary" id ="buttonlinkfield'+number_of_link_fields+'" onclick=deletefield('+number_of_link_fields+')>Delete</button>';
	// var button = '';
	$('#addfield').append(input);
	// $('#addfield').append(button);
}
function deletefield(x){
	var a = '#linkfield'+x;
	$(a).remove();
	var a = '#buttonlinkfield'+String(x);
	$(a).remove();
	number_of_link_fields -= 1;
}
</script>