<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6" style="text-align: center;"><h3>WORK TYPES </h3></div>
		<div class="col-lg-6"><button type="button" class="btn btn-secondary" onclick="clearworktypes()">clear work types</button></div>
	</div>
	<br>
	<div class="row">
		<div class="col-lg-3">
			<table class="table table-secondary table-bordered">
				<thead class="thead-dark">
					<tr><th>Utility Construction & Rehab ( {{ utilityconstructions|length }} )</th></tr>
				</thead>
				<tbody>
					{% for utilityconstruction in utilityconstructions %}
						<tr><td><input name="worktype" value="{{ utilityconstruction.pk }}" type="checkbox" {% if utilityconstruction in project.worktype.all %} checked {% endif %}>{{ utilityconstruction.name }}</td></tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="col-lg-3">
			<table class="table table-danger table-bordered">
				<thead class="thead-dark">
					<tr><th>Building Trades( {{ BuildingTrades|length }} )</th></tr>
				</thead>
				<tbody>
					{% for buildingtrade in BuildingTrades %}
						<tr>
							<td><input name="worktype" value="{{ buildingtrade.pk }}" type="checkbox" {% if buildingtrade in project.worktype.all %} checked {% endif %}>{{ buildingtrade.name }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<table class="table table-primary table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>Roads, Paving, and Bridges( {{ RoadpavingandBridges|length }} )</th>
					</tr>
				</thead>
				<tbody>
					{% for RoadpavingandBridge in RoadpavingandBridges %}
						<tr>
							<td><input name="worktype" value="{{ RoadpavingandBridge.pk }}"  type="checkbox" {% if RoadpavingandBridge in project.worktype.all %} checked {% endif %}>{{ RoadpavingandBridge.name }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<table class="table table-info table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>Architectural, Engineering, Consulting, Surveying ( {{ architecturalengineeringconsultings|length }} )</th>
					</tr>
				</thead>
				<tbody>
					{% for architecturalengineeringconsulting in architecturalengineeringconsultings %}
						<tr>
							<td><input  name="worktype" value="{{ architecturalengineeringconsulting.pk }}" type="checkbox" {% if architecturalengineeringconsulting in project.worktype.all %} checked {% endif %}>{{ architecturalengineeringconsulting.name }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="col-lg-3">
			<table class="table table-info table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>Specialty Trades ( {{ SpecialtyTrades|length }} )</th>
					</tr>
				</thead>
				<tbody>
					{% for SpecialtyTrade in SpecialtyTrades %}
						<tr>
							<td><input  name="worktype" value="{{ SpecialtyTrade.pk }}" type="checkbox" {% if SpecialtyTrade in project.worktype.all %} checked {% endif %}>{{ SpecialtyTrade.name }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="col-lg-3">
			<table class="table table-info table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>Other Services ( {{ OtherServices|length }} )</th>
					</tr>
				</thead>
				<tbody>
					{% for OtherService in OtherServices %}
						<tr>
							<td><input  name="worktype" value="{{ OtherService.pk }}" type="checkbox" {% if OtherService in project.worktype.all %} checked {% endif %}>{{ OtherService.name }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<table class="table table-info table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>Iterms for Sale, Lease, Rent or Trade ( {{ ItemSaleLeaseTrades|length }} )</th>
					</tr>
				</thead>
				<tbody>
					{% for ItemSaleLeaseTrade in ItemSaleLeaseTrades %}
						<tr>
							<td><input  name="worktype" value="{{ ItemSaleLeaseTrade.pk }}" type="checkbox" {% if ItemSaleLeaseTrade in project.worktype.all %} checked {% endif %}>{{ ItemSaleLeaseTrade.name }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<table class="table table-info table-bordered">
		<thead class="thead-dark">
			<tr>
				<th>Construction Materials ( {{ ConstructionMaterials|length }} )</th>
			</tr>
		</thead>
		<tbody>
			{% for ConstructionMaterial in ConstructionMaterials %}
				<tr>
					<td><input  name="worktype" value="{{ ConstructionMaterial.pk }}" type="checkbox" {% if ConstructionMaterial in project.worktype.all %} checked {% endif %}>{{ ConstructionMaterial.name }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<table class="table table-info table-bordered">
		<thead class="thead-dark">
			<tr>
				<th>Purchase, Rental, Lease of Goods ( {{ PurchaseRentalLeaseofGoods|length }} )</th>
			</tr>
		</thead>
		<tbody>
			{% for PurchaseRentalLeaseofGood in PurchaseRentalLeaseofGoods %}
				<tr>
					<td><input  name="worktype" value="{{ PurchaseRentalLeaseofGood.pk }}" type="checkbox" {% if PurchaseRentalLeaseofGood in project.worktype.all %} checked {% endif %}>{{ PurchaseRentalLeaseofGood.name }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<table class="table table-info table-bordered">
		<thead class="thead-dark">
			<tr>
				<th>Equipment, Machinery, Vehicles, Parts and Tools ( {{ EquipmentMachineryVehicles|length }} )</th>
			</tr>
		</thead>
		<tbody>
			{% for EquipmentMachineryVehicle in EquipmentMachineryVehicles %}
				<tr>
					<td><input  name="worktype" value="{{ EquipmentMachineryVehicle.pk }}" type="checkbox" {% if EquipmentMachineryVehicle in project.worktype.all %} checked {% endif %}>{{ EquipmentMachineryVehicle.name }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>	
<!-- 	<div class="row">
	{% for worktypegroup in worktypegroups %}
		<div class="col-lg-3">
			<table class="table table-{% for color in tablecolors %}{% if forloop.counter == forloop.parentloop.counter %}{{ color }}{% endif %}{% endfor %} table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>{{ worktypegroup.name }}</th>
					</tr>
				</thead>
				<tbody>
					{% for worktype in worktypes %}
						{% if worktypegroup in worktype.worktypegroup.all %}
							<tr><td>{{ worktype.name }}</td></tr>
						{% endif %}
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% endfor %}
	</div> -->
