<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Add entity</title>
	{% include 'bootstrapimport.html' %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'entityadd/style.css' %}">
</head>
<body>
	<div class="row container-fluid text-center">
		<div class="col-md-12">
			<h3>Enter New Entity Data:</h3>
			<button class="btn btn-success">Submit Data</button>
			<button class="btn btn-danger">Cancel</button><br>
		</div>
		<div class="col-md-8 ">
			<table class="table table-borderless add-border text-center">
				<thead class="thead-dark">
					<tr>
						<th colspan="2">General Section</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Entity Name:</td>
						<td class="input-group">
							<input type="text" class="form-control">&nbsp
							<button class="btn btn-primary btn-sm">Case corrector</button>
						</td>
					</tr>
					<tr>
						<td>Entity Type</td>
						<td>
							<select name="" id="" class="form-control">
								<option value="">1</option>
								<option value="">1</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>General Contact Name:</td>
						<td class="input-group">
							<input type="text" class="form-control">&nbsp
							<button class="btn btn-primary btn-sm">Case corrector</button>
						</td>
					</tr>
					<tr>
						<td>General Contact Title:</td>
						<td class="input-group">
							<input type="text" class="form-control">&nbsp
							<button class="btn btn-primary btn-sm">Case corrector</button>
						</td>
					</tr>
					<tr>
						<td>Address Line 1</td>
						<td class="input-group">
							<input type="text" class="form-control">&nbsp
							<button class="btn btn-primary btn-sm">Case corrector</button>
						</td>
					</tr>
					<tr>
						<td>Address Line 2</td>
						<td class="input-group">
							<input type="text" class="form-control">&nbsp
							<button class="btn btn-primary btn-sm">Case corrector</button>
						</td>
					</tr>
					<tr>
						<td>City</td>
						<td class="input-group">
							<input type="text" class="form-control">&nbsp
							<button class="btn btn-primary btn-sm">Case corrector</button>
						</td>
					</tr>
					<tr>
						<td>State</td>
						<td>
							<select name="" id="" class="form-control">
								<option value="">1</option>
								<option value="">1</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>County</td>
						<td>
							<select name="" id="" class="form-control">
								<option value="">-select state first-</option>
								<option value="">1</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Zip</td>
						<td class="input-group">
							<input type="text" class="form-control">&nbsp
							<button class="btn btn-info btn-sm">Fill City/State/County from Zip</button>
						</td>
					</tr>
					<tr>
						<td>Latitude</td>
						<td class="input-group">
							<input type="text" class="form-control">&nbsp
						</td>
					</tr>
					<tr>
						<td>Longtitude</td>
						<td class="input-group">
							<input type="text" class="form-control">&nbsp
						</td>
					</tr>
					<tr>
						<td>Country</td>
						<td>
							<select name="" id="" class="form-control">
								<option value="">usa</option>
								<option value="">canada</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Phone</td>
						<td class="input-group">
							<input type="text" class="form-control">&nbsp
							<input type="text" class="form-control" placeholder="ext">
						</td>
					</tr>
					<tr>
						<td>Fax</td>
						<td class="input-group">
							<input type="text" class="form-control">&nbsp
							<input type="text" class="form-control" placeholder="ext">
						</td>
					</tr>
					<tr>
						<td>Cell phone</td>
						<td class="input-group">
							<input type="text" class="form-control">&nbsp
							<input type="text" class="form-control" placeholder="ext">
						</td>
					</tr>
					<tr>
						<td>Pager</td>
						<td class="input-group">
							<input type="text" class="form-control">&nbsp
							<input type="text" class="form-control" placeholder="ext">
						</td>
					</tr>
					<tr>
						<td>E-mail address</td>
						<td class="input-group">
							<input type="text" class="form-control">&nbsp
							<input type="text" class="form-control" placeholder="ext">
						</td>
					</tr>
					<tr>
						<td>Website Address</td>
						<td class="input-group">
							<input type="text" class="form-control">&nbsp
							<input type="text" class="form-control" placeholder="ext">
						</td>
					</tr>
					<tr>
						<td>Website News Page</td>
						<td class="input-group">
							<input type="text" class="form-control">&nbsp
							<input type="text" class="form-control" placeholder="ext">
						</td>
					</tr>
					<tr>
						<td>New</td>
						<td class="text-left"><input type="checkbox"></td>
					</tr>
					<tr>
						<td>Pending</td>
						<td class="text-left"><input type="checkbox"></td>
					</tr>
					<tr>
						<td>Parent entity</td>
						<td><input type="text" class="form-control"></td>
					</tr>
					<tr>
						<td>Number of Employees:</td>
						<td>
							<select name="" id="" class="form-control">
								<option value=""></option>
								<option value="">1-10</option>
								<option value="">11-50</option>
								<option value="">51-250</option>
								<option value="">251-500</option>
								<option value="">500+</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Gross Annual Revenue Range:</td>
						<td>
							<select name="" id="" class="form-control">
								<option value=""></option>
								<option value="">Less than $1 million</option>
								<option value="">$1-10 million</option>
								<option value="">$10-25 million</option>
								<option value="">$25-100 million</option>
								<option value="">more than 100 million</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Population (City/County)</td>
						<td><input type="text" class="form-control"></td>
					</tr>
					<tr>
						<td>Hidden(not visible in public list)</td>
						<td class="text-left"><input type="checkbox"></td>
					</tr>
					<tr>
						<td>Solicitations from other source</td>
						<td class="text-left"><input type="checkbox"></td>
					</tr>
					<tr>
						<td>Other source (if above checked)</td>
						<td><input type="text" class="form-control"></td>
					</tr>
					<tr>
						<td>Use Auto Marketing System(AMS):</td>
						<td class="text-left"><input type="checkbox"></td>
					</tr>
					<tr>
						<td>Use Auto Data Request System(ADR)</td>
						<td class="text-left"><input type="checkbox"></td>
					</tr>
					<tr>
						<td>ADR Email:</td>
						<td><input type="text" class="form-control"></td>
					</tr>
					<tr>
						<td>ADR Fax</td>
						<td><input type="text" class="form-control"></td>
					</tr>
					<tr>
						<td>ADR URL for Planholders</td>
						<td><input type="text" class="form-control"></td>
					</tr>
					<tr>
						<td>ADR URL for Bid tabulations:</td>
						<td><input type="text" class="form-control"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-4">
			<table class="table table-borderless  add-border">
				<thead class="thead-dark">
					<tr>
						<th colspan="2">Section II</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Owner Type</td>
						<td>
							<select name="" id="" class="form-control">
								<option value=""></option>
								<option value="">1</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Telecom Type</td>
						<td>
							<select name="" id="" class="form-control">
								<option value=""></option>
								<option value="">ClEC</option>
								<option value="">ILEC</option>
								<option value="">Long-haul</option>
								<option value="">RBOC</option>
								<option value="">RLEC</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Outside Plant Facilities</td>
						<td><input type="checkbox"></td>
					</tr>
					<tr>
						<td>Setup a Free Trial After the New Entity is created</td>
						<td><input type="checkbox"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="container">
		<table class="table text-center table-borderless add-border">
			<tr>
				<td>Entity Description: <button class="btn btn-primary btn-sm">Case</button></td>
				<td>
					<textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
				</td>
			</tr>
			<tr>
				<td>Public Notes: <button class="btn btn-primary btn-sm">Case</button></td>
				<td>
					<textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
				</td>
			</tr>
			<tr>
				<td>Private Notes:<button class="btn btn-primary btn-sm">Case</button></td>
				<td>
					<textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>