<nav aria-label="Page navigation example">
	<ul class="pagination justify-content-center">
		{% if contacts.has_previous %}
			<li class="text-dark page-item"><a class="page-link" href="?page={{ contacts.previous_page_number }}&solicotor={{ solicitor }}&entityid={{ entityid }}&contactid={{ contactid }}">Previous</a></li>
		{% else %}
			<li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
		{% endif %}
		{% if contacts.number|add:'-4' > 1 %}
			<li class="text-dark page-item"><a class="page-link font-weight-bolder" href="?page=1&solicotor={{ solicitor }}&entityid={{ entityid }}&contactid={{ contactid }}">1</a></li>
			<li><a class="page-link" href="?page={{ contacts.number|add:'-5' }}&solicotor={{ solicitor }}&entityid={{ entityid }}&contactid={{ contactid }}">&hellip;</a></li>
		{% endif %}
		
		{% for i in contacts.paginator.page_range %}
			{% if contacts.number == i %}
				<li class="page-item active">
					<a class="page-link font-weight-bolder" href="?page={{ i }}&solicotor={{ solicitor }}&entityid={{ entityid }}&contactid={{ contactid }}">{{i}}</a>
				</li>
			{% elif i > contacts.number|add:'-5' and i < contacts.number|add:'5' %}
				<li class="page-item {% if i == contacts.number %} active {% endif %}">
					<a class="page-link font-weight-bolder" href="?page={{ i }}&solicotor={{ solicitor }}&entityid={{ entityid }}&contactid={{ contactid }}">{{i}}</a>
				</li>
			{% endif %}
		{% endfor %}
		
		{% if contacts.paginator.num_pages > contacts.number|add:'4' %}
			<li class="page-item"><a class="page-link" href="?page={{ contacts.number|add:'5' }}&solicotor={{ solicitor }}&entityid={{ entityid }}&contactid={{ contactid }}">&hellip;</a></li>
			{% if book.number != contacts.paginator.num_pages %}
			<li class="text-dark page-item"><a class="page-link" href="?page={{ contacts.paginator.num_pages }}&solicotor={{ solicitor }}&entityid={{ entityid }}&contactid={{ contactid }}">{{ contacts.paginator.num_pages }}</a></li>
		{% endif %}
		{% endif %}
		{% if contacts.has_next %}
			<li class="page-item"><a class="page-link" href="?page={{ contacts.next_page_number }}&solicotor={{ solicitor }}&entityid={{ entityid }}&contactid={{ contactid }}">Next</a></li>
		{% else %}
			<li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
		{% endif %}
		
	</ul>
</nav>