<nav aria-label="Page navigation example">
	<ul class="pagination justify-content-center">
		{% if entities.has_previous %}
		<li class="text-dark page-item">
			<form action="projectowneradd">
				<input type="hidden" name="areacode" value="{{areacode}}">
				<input type="hidden" name="page" value="{{ entities.previous_page_number }}">
				<input type="hidden" name="state" value="{{state}}">
				<input type="hidden" name="country" value="{{country}}">
				<input type="hidden" name="phonenumber" value="{{phonenumber}}">
				<input type="hidden" name="zipcode" value="{{zipcode}}">
				<input type="hidden" name="city" value="{{city}}">
				<input type="hidden" name="entitytype" value="{{entitytype}}">
				<input type="hidden" name="ownertype" value="{{ownertype}}">
				<input type="submit" class="page-link" value="Previous">
			</form>
		</li>
		{% else %}
		<li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
		{% endif %}
		{% if entities.number|add:'-4' > 1 %}
		<li class="text-dark page-item">
			<form action="projectowneradd">
				<input type="hidden" name="areacode" value="{{areacode}}">
				<input type="hidden" name="page" value="1">
				<input type="hidden" name="state" value="{{state}}">
				<input type="hidden" name="country" value="{{country}}">
				<input type="hidden" name="phonenumber" value="{{phonenumber}}">
				<input type="hidden" name="zipcode" value="{{zipcode}}">
				<input type="hidden" name="city" value="{{city}}">
				<input type="hidden" name="entitytype" value="{{entitytype}}">
				<input type="hidden" name="ownertype" value="{{ownertype}}">
				<input type="submit" class="page-link" value="1">
			</form>
		</li>
		<li>
			<form action="projectowneradd">
				<input type="hidden" name="areacode" value="{{areacode}}">
				<input type="hidden" name="page" value="{{ entities.number|add:'-5' }}">
				<input type="hidden" name="state" value="{{state}}">
				<input type="hidden" name="country" value="{{country}}">
				<input type="hidden" name="phonenumber" value="{{phonenumber}}">
				<input type="hidden" name="zipcode" value="{{zipcode}}">
				<input type="hidden" name="city" value="{{city}}">
				<input type="hidden" name="entitytype" value="{{entitytype}}">
				<input type="hidden" name="ownertype" value="{{ownertype}}">
				<input type="submit" class="page-link" value="&hellip;">
			</form>
		</li>
		{% endif %}

		{% for i in entities.paginator.page_range %}
		{% if entities.number == i %}
		<li class="page-item active">
			<form action="projectowneradd">
				<input type="hidden" name="areacode" value="{{areacode}}">
				<input type="hidden" name="page" value="{{i}}">
				<input type="hidden" name="state" value="{{state}}">
				<input type="hidden" name="country" value="{{country}}">
				<input type="hidden" name="phonenumber" value="{{phonenumber}}">
				<input type="hidden" name="zipcode" value="{{zipcode}}">
				<input type="hidden" name="city" value="{{city}}">
				<input type="hidden" name="entitytype" value="{{entitytype}}">
				<input type="hidden" name="ownertype" value="{{ownertype}}">
				<input type="submit" class="page-link" value="{{i}}">
			</form>
		</li>
		{% elif i > entities.number|add:'-5' and i < entities.number|add:'5' %}
		<li class="page-item {% if i == entities.number %} active {% endif %}">
			<form action="projectowneradd">
				<input type="hidden" name="areacode" value="{{areacode}}">
				<input type="hidden" name="page" value="{{i}}">
				<input type="hidden" name="state" value="{{state}}">
				<input type="hidden" name="country" value="{{country}}">
				<input type="hidden" name="phonenumber" value="{{phonenumber}}">
				<input type="hidden" name="zipcode" value="{{zipcode}}">
				<input type="hidden" name="city" value="{{city}}">
				<input type="hidden" name="entitytype" value="{{entitytype}}">
				<input type="hidden" name="ownertype" value="{{ownertype}}">
				<input type="submit" class="page-link" value="{{i}}">
			</form>
		</li>
		{% endif %}
		{% endfor %}

		{% if entities.paginator.num_pages > entities.number|add:'4' %}
		<li class="page-item">
			<form action="projectowneradd">
				<input type="hidden" name="areacode" value="{{areacode}}">
				<input type="hidden" name="page" value="{{ entities.number|add:'5' }}">
				<input type="hidden" name="state" value="{{state}}">
				<input type="hidden" name="country" value="{{country}}">
				<input type="hidden" name="phonenumber" value="{{phonenumber}}">
				<input type="hidden" name="zipcode" value="{{zipcode}}">
				<input type="hidden" name="city" value="{{city}}">
				<input type="hidden" name="entitytype" value="{{entitytype}}">
				<input type="hidden" name="ownertype" value="{{ownertype}}">
				<input type="submit" class="page-link" value="&hellip;">
			</form>
		</li>
		{% if book.number != entities.paginator.num_pages %}
		<li class="text-dark page-item">
			<form action="projectowneradd">
				<input type="hidden" name="areacode" value="{{areacode}}">
				<input type="hidden" name="page" value="{{ entities.paginator.num_pages }}">
				<input type="hidden" name="state" value="{{state}}">
				<input type="hidden" name="country" value="{{country}}">
				<input type="hidden" name="phonenumber" value="{{phonenumber}}">
				<input type="hidden" name="zipcode" value="{{zipcode}}">
				<input type="hidden" name="city" value="{{city}}">
				<input type="hidden" name="entitytype" value="{{entitytype}}">
				<input type="hidden" name="ownertype" value="{{ownertype}}">
				<input type="submit" class="page-link" value="{{ entities.paginator.num_pages }}">
			</form>
		</li>
		{% endif %}
		{% endif %}
		{% if entities.has_next %}
		<li class="page-item">
			<form action="projectowneradd">
				<input type="hidden" name="areacode" value="{{areacode}}">
				<input type="hidden" name="page" value="{{ entities.next_page_number }}">
				<input type="hidden" name="state" value="{{state}}">
				<input type="hidden" name="country" value="{{country}}">
				<input type="hidden" name="phonenumber" value="{{phonenumber}}">
				<input type="hidden" name="zipcode" value="{{zipcode}}">
				<input type="hidden" name="city" value="{{city}}">
				<input type="hidden" name="entitytype" value="{{entitytype}}">
				<input type="hidden" name="ownertype" value="{{ownertype}}">
				<input type="submit" class="page-link" value="Next">
			</form>
		</li>
		{% else %}
		<li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
		{% endif %}

	</ul>
</nav>