<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Bedrock Dashboard</title>
  {% include 'dashpage/components/importstyles.html' %}
  {% include 'dashpage/components/importjs.html' %}
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

{% include 'dashpage/components/navbar.html' %}

  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <span class="brand-text brand-link" style="text-align: center;">Internet Researcher</span>
    <!-- name comes -- Praniel Gurung here-->
    <span class="brand-text brand-link mt-1 mb-1 pt-1" style="text-align: center;">{{username}}</span>
    <div class="sidebar">
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a href="http://bidocean.biz/training/" class="nav-link" target="_blank">Manual</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'solicitation:index' %}" class="nav-link" target="_blank">Solic Add</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'solicitation:solicitationlist' %}" class="nav-link">Solic Edit</a>
          </li>

          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <p>
                Options
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="pages/layout/top-nav.html" class="nav-link">
                  <p>Top Navigation</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/layout/boxed.html" class="nav-link">
                  <p>Boxed</p>
                </a>
              </li>
              
            </ul>
          </li>

        </ul>
      </nav>
    </div>
  </aside>
  <aside class="control-sidebar control-sidebar-dark">
  </aside>
</div>
<div class="content-wrapper">
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-3 col-6" style="text-align: center;">
            <br><br>
            <button class="btn btn-primary" style="width: 70%">Work Distribution System</button><br><br>
            <button class="btn btn-info" style="width: 70%">Imported Data Edit</button><br><br>
            <button class="btn btn-danger" style="width: 70%">Auto data Request System</button><br><br>
            <button class="btn btn-warning" style="width: 70%">Call Tracking System</button><br><br>
          </div>
          <div class="col-lg-3 col-6" style="font-size: 15px">
            Bhutan, Thimphu: {{bhutan_thimpu}}<br>
            Canada, British Columbia: {{canada_british_columbia}}<br>
            Canada, Nova Scotia:{{canada_nova_scotia}}<br>
            India, Bengaluru: {{india}}<br>
            India, Gangtok:{{india}}<br>
            India, Hyderabad: {{india}}<br>
            India, Siliguri: {{india}}<br>
            Philippines: {{phillipines}}<br>
            Philippines, Bacolod: {{phillipines}}<br> 
            Philippines, Cebu:{{phillipines}}<br>
            UK, London: {{uk_london}}<br>
            USA - Central: {{us_central}}<br>
            USA - Eastern: {{us_east}}<br>
            USA - Mountain: {{us_mountain}}<br>
            USA - West: {{us_west}}<br>
            <br>
            <h6><strong>Employee Count</strong></h6>
            India, Gangtok: <br>
            India, Hyderabad: <br>
            Philipines, Cebu: <br>
          </div>
          <!-- ./col -->
          <div class="col-lg-6 col-md-6">
            <h4>Online users</h4>
            <table class="table table-borderless" id="onlineuserstable">
            </table>
          </div>
        </div>
  </section>
</div>
<script>
  $(document).ready(function() {
    $.ajaxSetup({ cache: false });
    var my_refresh = setInterval(function() {
      $('#onlineuserstable').load('{% url "dashpage:get_online_users" %}');
    }, 5000); // 20000ms = 20 secs
  });
  window.onload = function() {
    $('#onlineuserstable').load('{% url "dashpage:get_online_users" %}');
  };
</script>



</body>
</html>
