<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>central look up</title>
	{% include 'bootstrapimport.html' %}
</head>
<body>
	<center><h3>Central lookup page <button onclick="exit()" class="btn btn-danger btn-sm">Exit</button></h3></center>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<table class="table table-borderless container-fluid" style="border: 1px solid black; text-align: right;">
					<thead class="thead-dark">
						<tr>
							<th colspan="4" style="text-align: center;"><h4>Solicitation lookup Form</h4></th>
							<th><button class="btn btn-info">look up</button></th>
							<th><button class="btn btn-primary">Total only</button></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Report Class</td>
							<td>
								<select name="" id="" class="form-control">
									<option value=""></option>
									{% for class in projectclass %}
									<option value="">{{ class.classname }}</option>
									{% endfor %}
								</select>
							</td>
							<td>
								Solicitation #
							</td>
							<td>
								<input type="text" class="form-control">
							</td>
							<td>Created by</td>
							<td>
								<select name="" id="" class="form-control">
									<option value=""></option>
									{% for employee in employees %}
									<option value="">{{ employee.first_name }} {{employee.last_name}}</option>
									{% endfor %}}
								</select>
							</td>
						</tr>
						<tr>
							<td>Country</td>
							<td>
								<select name="country" class="form-control">
									<option value="">--select country--</option>
									{% for country in countries %}
										<option value="{{country.country_id}}">{{country.name}}</option>
									{% endfor %}
								</select>
							</td>
							<td>Region</td>
							<td>
								<select name="region" class="form-control">
									<option value="">--select region--</option>
									{% for region in regions %}
										<option value="{{ region.region_id}}">{{region.regioncode}}</option>
									{% endfor %}
								</select>
							</td>
							<td>State</td>
							<td>
								<select name="" class="form-control">
									<option value="">--select state--</option>
									{% for state in states %}
										<option value="{{state.stateprov_id}}">{{state.name}}</option>
									{% endfor %}
									<option value=""></option>
								</select>
							</td>
						</tr>
						<tr>
							<td>Created Start Date	</td>
							<td><input type="text" class="form-control"></td>
							<td>Created Stop Date	</td>
							<td><input type="text" class="form-control"></td>
							<td><label for="incomplete">Incomplete</label></td>
							<td style="text-align: left;"><input type="checkbox" id="incomplete"></td>
						</tr>
						<tr>
							<td>Updated Start Date	</td>
							<td><input type="text" class="form-control"></td>
							<td>Updated Stop Date	</td>
							<td><input type="text" class="form-control"></td>
							<td><label for="update_notes_not_empty">Update Notes Not Empty</label></td>
							<td style="text-align: left;"><input type="checkbox" id="update_notes_not_empty"></td>
						</tr>
						<tr>
							<td>Bid Date Start Date	</td>
							<td><input type="text" class="form-control"></td>
							<td>Bid Date Stop Date	</td>
							<td><input type="text" class="form-control"></td>
							<td>Update Last "X" Days</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Phone</td>
							<td><input type="text" class="form-control"></td>
							<td><label for="presolicitation">Presolicitation</label></td>
							<td style="text-align: left;"><input type="checkbox" id="presolicitation"></td>
							<td>Solicitation Name</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Owner Name</td>
							<td><input type="text" class="form-control"></td>
							<td>Engineer Name</td>
							<td><input type="text" class="form-control"></td>
							<td>Reporter Notes</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Solicitation Notes</td>
							<td><input type="text" class="form-control"></td>
							<td>Solicitation Scope	</td>
							<td><input type="text" class="form-control"></td>
							<td>Work type</td>
							<td>
								<select name="" id="" class="form-control">
									<option value=""></option>
									{% for worktype in worktypes %}
									<option value="">{{ worktype.name }}</option>
									{% endfor %}
								</select>
							</td>
						</tr>
						<tr>
							<td>Source Type</td>
							<td>
								<select name="" id="" class="form-control">
									<option value=""></option>
									{% for source in sources %}
									<option value="">{{ source.name }}</option>
									{% endfor %}
								</select>
							</td>
							<td>Owner number</td>
							<td><input type="text" class="form-control"></td>
							<td>Engineer number</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Sort by Bid date</td>
							<td>
								<select name="" id="" class="form-control">
									<option value="">No sort</option>
									<option value="">Ascending</option>
									<option value="">Descending</option>
								</select>
							</td>
							<td>OR by Prebid Date</td>
							<td>
								<select name="" id="" class="form-control">
									<option value="">No sort</option>
									<option value="">Ascending</option>
									<option value="">Descending</option>
								</select>
							</td>
							<td>OR by Lead Date</td>
							<td>
								<select name="" id="" class="form-control">
									<option value="">No sort</option>
									<option value="">Ascending</option>
									<option value="">Descending</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>Owner Type</td>
							<td>
								<select name="" id="" class="form-control">
									<option value=""></option>
									<option value="">No owner type</option>
									<option value="">Airport</option>
								</select>
							</td>
							<td>Table Font Size</td>
							<td>
								<select name="" id="" class="form-control">
									<option value="">Large</option>
									<option value="">medium</option>
									<option value="">small</option>
								</select>
							</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>
								<label for="show_reporter_notes">Show reporter Notes</label>
							</td>
							<td style="text-align: left;">
								<input type="checkbox" name="" id="show_reporter_notes">
							</td>
							<td><label for="show_scope">Show scope</label></td>
							<td style="text-align: left;"><input type="checkbox" name="" id="show_scope"></td>
							<td><label for="show_source">Show Source</label></td>
							<td style="text-align: left;"><input type="checkbox" name="" id="show_source"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<hr>
			<div class="col-lg-12">
				<table class="table table-borderless container-fluid" style="border: 1px solid black; text-align: right;">
					<thead class="thead-dark">
						<tr>
							<th colspan="4" style="text-align: center;"><h3>Entity Lookup Form</h3></th>
							<th>
								<button class="btn btn-info">Look up</button>
							</th>
							<th>
								<button class="btn btn-primary">Total only</button>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Entity Name</td>
							<td><input type="text" class="form-control"></td>
							<td>Entity Type</td>
							<td>
								<select name="" id="" class="form-control">
									<option value=""></option>
									{% for entitytype in entitytypes %}
									<option value="">{{ entitytype.typename }}</option>
									{% endfor %}
								</select>
							</td>
							<td>Owner type</td>
							<td>
								<select name="" id="" class="form-control">
									<option value=""></option>
									<option value="">No owner type</option>
									<option value="">Airport</option>
									<option value="">Airport - Military</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>City</td>
							<td><input type="text" class="form-control"></td>
							<td>Zip Code</td>
							<td><input type="text" class="form-control"></td>
							<td>Fax</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Area code</td>
							<td><input type="text" class="form-control"></td>
							<td>Phone</td>
							<td><input type="text" class="form-control"></td>
							<td>General Contact Name</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Entity #</td>
							<td><input type="text" class="form-control"></td>
							<td>Created By</td>
							<td>
								<select name="" id="" class="form-control">
									{% for employee in employees %}
									<option value="">{{ employee.first_name}} {{ employee.last_name }}</option>
									{% endfor %}
								</select>
							</td>
							<td>Email</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>updated by</td>
							<td>
								<select name="" id="" class="form-control">
									{% for employee in employees %}
									<option value="">{{ employee.first_name}} {{ employee.last_name }}</option>
									{% endfor %}
								</select>
							</td>
							<td>Updated after</td>
							<td class="input-group"><input type="text" class="form-control">&nbsp MM/DD/YY</td>
							<td>updated before</td>
							<td class="input-group"><input type="text" class="form-control">&nbsp MM/DD/YY</td>
						</tr>
						<tr>
							<td>State</td>
							<td>
								<select name="" id="" class="form-control">
									<option value=""></option>
									{% for state in states %}
									<option value="{{state.stateprov_id}}">{{state.name}}</option>
									{% endfor %}
								</select>
							</td>
							<td>Work type</td>
							<td>
								<select name="" id="" class="form-control">
									<option value=""></option>
									{% for worktype in worktypes %}
									<option value="">{{ worktype.name }}</option>
									{% endfor %}
								</select>
							</td>
							<td>Country</td>
							<td>
								<select name="" id="" class="form-control">
									<option value=""></option>
									{% for country in countries %}
									<option value="{{country.country_id}}">{{ country.name }}</option>
									{% endfor %}
								</select>
							</td>
						</tr>
						<tr>
							<td><label for="pending">Pending</label></td>
							<td style="text-align: left;"><input type="checkbox" name="" id="pending"></td>
							<td><label for="has_a_website">Has a website</label></td>
							<td style="text-align: left;"><input type="checkbox" name="" id="has_a_website"></td>
							<td><label for="sort_by_date">Sort by date Create</label></td>
							<td style="text-align: left;"><input type="checkbox" name="" id="sort_by_date"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<hr>
			<div class="col-lg-12">
				<table class="table table-borderless">
					<thead class="thead-dark">
						<tr>
							<th colspan="3" style="text-align: center;"><h3>Subscriber Lookup Form</h3></th>
							<th>
								<button class="btn btn-info">Look up</button>
							</th>
							<th colspan="2">
								<button class="btn btn-primary">Total only</button>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Subscriber Name</td>
							<td><input type="text" class="form-control"></td>
							<td>Subscriber Billing Name</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Subscriber ID Number</td>
							<td><input type="text" class="form-control"></td>
							<td style="text-align: center;">Active</td>
							<td>
								<select name="" id="" class="form-control">
									<option value="">Both</option>
									<option value="">Active</option>
									<option value="">Inactive</option>
								</select>
							</td>
							<td>Free</td>
							<td>
								<select name="" id="" class="form-control">
									<option value="">Both</option>
									<option value="">Paid</option>
									<option value="">Free</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>Country:</td>
							<td>
								<select name="" id="" class="form-control">
									<option value=""></option>
									{% for country in countries %}
									<option value="">{{ country.name }}</option>
									{% endfor %}
								</select>
							</td>
						</tr>
						<tr>
							<td>States</td>
							<td>
								<select name="" id="" class="form-control">
									<option value=""></option>
									{% for state in states %}
									<option value="">{{state.name}}</option>
									{% endfor %}
								</select>
							</td>
						</tr>
						<tr>
							<td>Subscription Worktype Group:</td>
							<td>
								<select name="" id="" class="form-control">
									<option value=""></option>
									{% for worktype in worktypes %}
									<option value="">{{ worktype.name }}</option>
									{% endfor %}
								</select>
							</td>
						</tr>
						<tr>
							<td>Subscription Worktype:</td>
							<td>
								<select name="" id="" class="form-control">
									<option value=""></option>
									{% for worktype in worktypes %}
									<option value="">{{ worktype.name }}</option>
									{% endfor %}
								</select>
							</td>
						</tr>
						<tr>
							<td>Entity Worktype: </td>
							<td>
								<select name="" id="" class="form-control">
									<option value=""></option>
									<option value=""></option>
								</select>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<hr>
			
			<div class="col-lg-6">
				<table class="table">
					<thead class="thead-dark">	
						<tr>
							<th>Email Lookup Form</th>
							<th><button class="btn btn-primary">Look up</button></th>
						</tr>
					</thead>
					<tr>
						<td>email address</td>
						<td><input type="text" class="form-control"></td>
					</tr>
				</table>
			</div>
			<div class="col-lg-6">
				<table class="table">
					<thead class="thead-dark">	
						<tr>
							<th>Owner Lookup Form</th>
							<th><button class="btn btn-primary">Look up</button></th>
						</tr>
					</thead>
					<tr>
						<td>Solicitation Source</td>
						<td><input type="text" class="form-control"></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
<script>
	function exit(){
		window.close();
	}
</script>
</html>