<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>solicitor contact</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'bootstrap-4.3.1/css/bootstrap.min.css' %}">
	<script src="{% static 'bootstrap-4.3.1/js/bootstrap.min.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>
	{% if messages %}
	{% for message in messages %}
		<div class="alert alert-success container text-center" role="alert">
  			<p class="alert-heading">{{ message }}</p>
		</div>
	{% endfor %}
	{% endif %}
	<h3 class="text-center">{{solicitorname}}</h3>

	<table class="table">
		<thead>
			<tr>
				<th>Select Contact</th>
				<th>Edit Contact</th>
				<th>Contact id</th>
				<th>Name</th>
				<th>Type</th>
				<th>Phone</th>
				<th>Ext</th>
				<th>Fax:</th>
				<th>Email:</th>
				<th>Active</th>
			</tr>
		</thead>
		<tbody>
			{% for contact in contacts %}
			<tr>
				<td>
					<button class="btn btn-sm btn-info" onclick="ChangeOpener('{{ contact.contact_id}}','{{contact.name}}','{{contact.type}}','{{contact.phone}}','{{contact.phoneext}}','{{contact.fax}}','{{contact.email}}')">
						select
					</button>
				</td>
				<td>
					<button class="btn btn-sm btn-primary">edit</button>
				</td>
				<td>{{ contact.contact_id }}</td>
				<td>{{ contact.name }}</td>
				<td>{{ contact.type }}</td>
				<td>{{ contact.phone }}</td>
				<td>{{ contact.phoneext }}</td>
				<td>{{ contact.fax }}</td>
				<td>{{ contact.email }}</td>
				<td>{{ contact.active }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
{% include 'solicitation/entities/pagination/contactspagination.html' %}
<script>
	function ChangeOpener (id,name,type,phone,phoneext,fax,email) {
		var openerWindow = window.opener;
		{% if solicitor == "owner" %}
		openerWindow.document.getElementById("ownercontactid").value=id
		openerWindow.document.getElementById("ownercontactname").value=name
		openerWindow.document.getElementById("ownercontacttype").value=type
		openerWindow.document.getElementById("ownercontactphone").value=phone
		openerWindow.document.getElementById("ownercontactphoneext").value=phoneext
		openerWindow.document.getElementById("ownercontactfax").value=fax
		openerWindow.document.getElementById("ownercontactemail").value=email
		{% elif solicitor == 'engineer' %}
		openerWindow.document.getElementById("engineercontactid").value=id
		openerWindow.document.getElementById("engineercontactname").value=name
		openerWindow.document.getElementById("engineercontacttype").value=type
		openerWindow.document.getElementById("engineercontactphone").value=phone
		openerWindow.document.getElementById("engineercontactext").value=phoneext
		openerWindow.document.getElementById("engineercontactfax").value=fax
		openerWindow.document.getElementById("engineerecontactemail").value=email
		{% elif solicitor == 'plankeeper' %}
		openerWindow.document.getElementById("plankeepercontactid").value=id
		openerWindow.document.getElementById("plankeepercontactname").value=name
		openerWindow.document.getElementById("plankeepercontacttype").value=type
		openerWindow.document.getElementById("plankeepercontactphone").value=phone
		openerWindow.document.getElementById("plankeepercontactext").value=phoneext
		openerWindow.document.getElementById("plankeepercontactfax").value=fax
		openerWindow.document.getElementById("plankeepercontactemail").value=email
		{% elif solicitor == 'manager' %}
		openerWindow.document.getElementById("managercontactid").value=id
		openerWindow.document.getElementById("managercontactname").value=name
		openerWindow.document.getElementById("managercontacttype").value=type
		openerWindow.document.getElementById("managercontactphone").value=phone
		openerWindow.document.getElementById("managercontactfax").value=fax
		openerWindow.document.getElementById("managercontactmail").value=email
		{% endif %}
		window.close();
		return;
	}
</script>
</html>