<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Manager Selector</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'bootstrap-4.3.1/css/bootstrap.min.css' %}">
	<script src="{% static 'bootstrap-4.3.1/js/bootstrap.min.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>
	<br><br><br><br>
	<table class="table container" style="text-align: center;">
		<form action="">
		<tr>
			<td>Entity Name:</td>
			<td>
				<input type="text" class="form-control" name="entityname">
			</td>
		</tr>
		<tr>
			<td>State</td>
			<td>
				<select name="state" class="form-control">
					<option value=""></option>
					{% for state in states %}
					<option value="{{state.stateprov_id}}">{{ state.name }}</option>
					{% endfor %}
				</select>
			</td>
		</tr>
		<tr>
			<td>Entity Type</td>
			<td>
				<select name="entitytype" class="form-control">
					<option value=""></option>
					{% for entity_type in entity_types %}
					<option value="{{ entity_type.entitytype_id }}">{{ entity_type.typename }}</option>
					{% endfor %}
				</select>
			</td>
		</tr>
		<tr>
			<td>Phone</td>
			<td>
				<input type="text" name="phone" class="form-control">
			</td>
		</tr>
		<tr>
			<input type="hidden" value="1" name="page">
			<td colspan="2"><input type="submit" class="btn btn-primary"></td>
		</tr>
		</form>
	</table>
</body>
</html>