<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Manager add</title>.
	{% load static %}
	<link rel="stylesheet" href="{% static 'bootstrap-4.3.1/css/bootstrap.min.css' %}">
	<script src="{% static 'bootstrap-4.3.1/js/bootstrap.min.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>
	<table class="table">
		<thead>
			<tr>
				<th>Button</th>
				<th>id no</th>
				<th>Owner Name</th>
				<th>Contact Name</th>
				<th>City name</th>
				<th>State</th>
				<th>Zip</th>
				<th>Phone</th>
			</tr>
		</thead>
		<tbody>
			{% for entity in entities %}
			<tr>
				<td> <button class="btn btn-info" onclick="ChangeOpener('{{ entity.entity_id }}','{{ entity.entityname }}','{{ entity.contact }}','{{ entity.street1 }}','{{ entity.street2 }}','{{ entity.city }}','{{ entity.stateprov }}','{{ entity.zip }}','{{ entity.phone }}','{{entity.contact_id}}','{{entity.country}}','{{entity.phoneext}}', '{{entity.fax}}','{{entity.email}}','{{entity.newsurl}}','{{entity.notes}}')">
						select
					</button> </td>
				<td>{{entity.entity_id}}</td>
				<td>{{entity.entityname}}</td>
				<td>{{entity.contact}}</td>
				<td>{{entity.city}}</td>
				<td>{{entity.stateprov}}</td>
				<td>{{entity.zip}}</td>
				<td>{{entity.phone}}</td>
				<td>{{entity.contact_id}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% include 'solicitation/entities/pagination/manager_pagination.html' %}
</body>
<script>
	function ChangeOpener (entity_id,entityname,contact,street1,street2,city,stateprov,zip,phone,contact_id,country,phoneext,fax,email,url,notes) {
		var openerWindow = window.opener;
		openerWindow.document.getElementById("managerid").value=entity_id;
		openerWindow.document.getElementById("managername").value=entityname;
		openerWindow.document.getElementById("manageraddress").value=street1;
		openerWindow.document.getElementById("manageraddress2").value=street2;
		openerWindow.document.getElementById("managercity").value=city;
		openerWindow.document.getElementById("managerstate").value=stateprov;
		openerWindow.document.getElementById("managerzip").value=zip;
		openerWindow.document.getElementById("managerphone").value=phone;
		openerWindow.document.getElementById("managercontactid").value=contact_id;
		openerWindow.document.getElementById("managercountry").value=country;
		openerWindow.document.getElementById("managerphoneext").value=phoneext;
		openerWindow.document.getElementById("managerfax").value=fax;
		openerWindow.document.getElementById("manageremail").value=email;
		openerWindow.document.getElementById("managerurl").value=url;
		openerWindow.document.getElementById("managernotes").value=notes;
		window.close();
		return;
	}
</script>
</html>