<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>plankeeper add</title>.
	{% load static %}
	<link rel="stylesheet" href="{% static 'bootstrap-4.3.1/css/bootstrap.min.css' %}">
	<script src="{% static 'bootstrap-4.3.1/js/bootstrap.min.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>
	<table class="table">
		<thead>
			<tr>
				<th>Button</th>
				<th>id no</th>
				<th>Plankeeper Name</th>
				<th>Contact Name</th>
				<th>Address</th>
				<th>Address 2</th>
				<th>City</th>
				<th>State</th>
				<th>Zip</th>
				<th>Phone</th>
			</tr>
		</thead>
		<tbody>
			{% for entity in entities %}
			<tr>
				<td> <button class="btn btn-info" onclick="ChangeOpener('{{ entity.entity_id }}','{{ entity.entityname }}','{{ entity.contact }}','{{ entity.street1 }}','{{ entity.street2 }}','{{ entity.city }}','{{ entity.stateprov }}','{{ entity.zip }}','{{ entity.phone }}','{{ entity.contact_id }}','{{ entity.country }}','{{ entity.newsurl }}','{{ entity.notes }}')">
						select
					</button> </td>
				<td>{{entity.entity_id}}</td>
				<td>{{entity.entityname}}</td>
				<td>{{entity.contact}}</td>
				<td>{{entity.street1}}</td>
				<td>{{entity.street2}}</td>
				<td>{{entity.city}}</td>
				<td>{{entity.stateprov}}</td>
				<td>{{entity.zip}}</td>
				<td>{{entity.phone}}</td>
				<td>{{entity.contact_id}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% include 'solicitation/entities/pagination/plankeeper_pagination.html' %}
</body>
<script>
	function ChangeOpener (entity_id,entityname,contact,street1,street2,city,stateprov,zip,phone,contact_id, country,url, notes) {
		var openerWindow = window.opener;
		openerWindow.document.getElementById("plankeeperid").value=entity_id;
		openerWindow.document.getElementById("plankeepername").value=entityname;
		openerWindow.document.getElementById("plankeeperaddress").value=street1;
		openerWindow.document.getElementById("plankeeperaddress2").value=street2;
		openerWindow.document.getElementById("plankeepercity").value=city;
		openerWindow.document.getElementById("plakeeperstate").value=stateprov;
		openerWindow.document.getElementById("plankeeperzip").value=zip;
		openerWindow.document.getElementById("plankeeperphone").value=phone;
		openerWindow.document.getElementById("plankeeperphone").value=phone;
		openerWindow.document.getElementById("plankeepercontactid").value=contact_id;
		openerWindow.document.getElementById("plankeepercountry").value=country;
		openerWindow.document.getElementById("plankeeperurl").value=url;
		openerWindow.document.getElementById("plankeepernotes").value=notes;
		window.close();
		return;
	}
</script>
</html>