<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>engineer add</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'bootstrap-4.3.1/css/bootstrap.min.css' %}">
	<script src="{% static 'bootstrap-4.3.1/js/bootstrap.min.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>
	<table class="table">
		<thead>
			<tr>
				<th>Button</th>
				<th>id no</th>
				<th>Engineer Name</th>
				<th>Contact Name</th>
				<th>Address</th>
				<th>Address 2</th>
				<th>City</th>
				<th>State</th>
				<th>Zip</th>
				<th>Phone</th>
			</tr>
		</thead>
		<tbody>
			{% for entity in entities %}
			<tr>
				<td> <button class="btn btn-info" onclick="ChangeOpener('{{ entity.entity_id }}','{{ entity.entityname }}','{{ entity.contact }}','{{ entity.street1 }}','{{ entity.street2 }}','{{ entity.city }}','{{ entity.stateprov }}','{{ entity.zip }}','{{ entity.phone }}','{{ entity.phoneext }}','{{ entity.contact_id }}','{{ entity.fax }}','{{ entity.email }}','{{ entity.newsurl }}','{{ entity.notes }}','{{ entity.country }}')">
						select
					</button> </td>
				<td>{{entity.entity_id}}</td>
				<td>{{entity.entityname}}</td>
				<td>{{entity.contact}}</td>
				<td>{{entity.street1}}</td>
				<td>{{entity.street2}}</td>
				<td>{{entity.city}}</td>
				<td>{{entity.stateprov}}</td>
				<td>{{entity.zip}}</td>
				<td>{{entity.phone}}</td>
				<td>{{ entity.contact_id }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% include 'solicitation/entities/pagination/engineer_pagination.html' %}
</body>
<script>
	function ChangeOpener (entity_id,entityname,contact,street1,street2,city,stateprov,zip,phone, phoneext, contact_id,fax,email,url,notes, country) {
		var openerWindow = window.opener;
		openerWindow.document.getElementById("engineerid").value=entity_id;
		openerWindow.document.getElementById("engineername").value=entityname;
		openerWindow.document.getElementById("engineeraddress").value=street1;
		openerWindow.document.getElementById("engineeraddress2").value=street2;
		openerWindow.document.getElementById("engineercity").value=city;
		openerWindow.document.getElementById("engineerstate").value=stateprov;
		openerWindow.document.getElementById("engineerzip").value=zip;
		openerWindow.document.getElementById("engineerphone").value=phone;
		openerWindow.document.getElementById("engineerphoneext").value=phoneext;
		openerWindow.document.getElementById("engineerfax").value=fax;
		openerWindow.document.getElementById("engineeremail").value=email;
		openerWindow.document.getElementById("engineerurl").value=url;
		openerWindow.document.getElementById("engineernotes").value=notes;
		openerWindow.document.getElementById("engineercountry").value=country;
		openerWindow.document.getElementById("engineercontactid").value=contact_id;
		window.close();
		return;
	}
</script>
</html>