<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Project owner add</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'bootstrap-4.3.1/css/bootstrap.min.css' %}">
	<script src="{% static 'bootstrap-4.3.1/js/bootstrap.min.js' %}"></script>
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	<table class="table">
		<thead>
			<tr>
				<th>Button</th>
				<th>id</th>
				<th>Owner</th>
				<th>Contact Name</th>
				<th>Address</th>
				<th>Address line 2</th>
				<th>City</th>
				<th>State</th>
				<th>Zip</th>
				<th>Phone</th>
			</tr>
		</thead>
		<tbody>
			{% for entity in entities %}
			<tr>
				<td>
					<button class="btn btn-info" onclick="ChangeOpener('{{ entity.entity_id }}','{{ entity.entityname }}','{{ entity.contact }}','{{ entity.street1 }}','{{ entity.street2 }}','{{ entity.city }}','{{ entity.stateprov }}','{{ entity.zip }}','{{ entity.phone }}','{{ entity.phoneext }}','{{ entity.contact_id }}', '{{ entity.country }}', '{{ entity.fax }}', '{{ entity.email }}', '{{ entity.newsurl }}','{{ entity.notes }}')">
						select
					</button>
				</td>
				<td>{{ entity.entity_id }}</td>
				<td>{{ entity.entityname }}</td>
				<td>{{ entity.contact }}</td>
				<td>{{ entity.street1 }}</td>
				<td>{{ entity.street2 }}</td>
				<td>{{ entity.city }}</td>
				<td>{{ entity.stateprov }}</td>
				<td>{{ entity.zip }}</td>
				<td>{{ entity.phone }}</td>
				<td>{{ entity.contact_id }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% include 'solicitation/entities/pagination/projectowner_pagination.html' %}
</body>
<script>
	function ChangeOpener (entity_id,entityname,contact,street1,street2,city,stateprov,zip,phone, phoneext, contact_id, country,fax,email, newsurl,notes) {
		var openerWindow = window.opener;
		openerWindow.document.getElementById("ownerid").value=entity_id;
		openerWindow.document.getElementById("ownername").value=entityname;
		openerWindow.document.getElementById("owneraddress").value=street1;
		openerWindow.document.getElementById("owneraddress2").value=street2;
		openerWindow.document.getElementById("ownercity").value=city;
		openerWindow.document.getElementById("ownerstate").value=stateprov;
		openerWindow.document.getElementById("ownerzip").value=zip;
		openerWindow.document.getElementById("ownerphone").value=phone;
		openerWindow.document.getElementById("ownercontactid").value=contact_id;
		openerWindow.document.getElementById("ownercountry").value=country;
		openerWindow.document.getElementById("ownerfax").value=fax;
		openerWindow.document.getElementById("owneremail").value=email;
		openerWindow.document.getElementById("ownernotes").value=notes;
		openerWindow.document.getElementById("ownerurl").value=newsurl;
		window.close();
		return;
	}
</script>
</html>
