<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Selector</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'bootstrap-4.3.1/css/bootstrap.min.css' %}">
	<script src="{% static 'bootstrap-4.3.1/js/bootstrap.min.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>
	<h5 class="jumbotron container" style="padding-bottom: 20px; padding-top: 20px;">Search for a duplicate owner by entering search criteria below. The more information entered, the more restrictive the search becomes. If you don't enter any criteria you will get the first 500 entries on the list. If you don't get any owners from your search try using fewer and/or less restrictive criteria,or enter a new owner</h5>
	<table class="table container" style="text-align: center;">
		<form action="">
		<tr>
			<input type="hidden" name="page" value="1">
			<td>optional Area code</td>
			<td> <input type="text" class="form-control" name="areacode"> </td>
		</tr>
		<tr>
			<td>Optional - Select a country:</td>
			<td>
				<select name="country" id="country_search" class="form-control">
					<option value="">--select country --</option>
					{% for country in countries %}
						<option value="{{ country.country_id}}">{{ country.name }}</option>
					{% endfor %}
				</select>
			</td>
		</tr>
		<tr>
			<td>Optional - Select a state:</td>
			<td>
				<select name="state" id="state_search" class="form-control">
					<option value=""></option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Optional - Phone Number:</td>
			<td><input type="text" class="form-control" name="phonenumber"> </td>
		</tr>
		<tr>
			<td>Optional - City:</td>
			<td><input type="text" class="form-control" name="city"> </td>
		</tr>
		<tr>
			<td>Optional - Zip Code:</td>
			<td><input type="text" class="form-control" name="zipcode"> </td>
		</tr>
		<tr>
			<td>Optional - Entity Type:</td>
			<td>
				<select name="entitytype" id="" class="form-control">
					<option value=""></option>
					{% for entity_type in entity_types %}
						<option value="{{ entity_type.entitytype_id }}">{{ entity_type.typename }}</option>
					{% endfor %}
				</select>
			</td>
		<tr>
			<td>Optional - Owner Type: </td>
			<td>
				<select name="ownertype" id="" class="form-control">
					<option value="airport">airport</option>
				</select>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="text-align: center;"> 
				<input type="submit" class="btn btn-success"> 
			</td>
		</tr>
		</form>
	</table>
</body>
<script>
	$(document).ready(function () {
		$("#country_search").change(function () {
			// alert('state_search');
			var val = $(this).val();
			{% for country in countries %}
				if (val == {{country.country_id}}) {
					$("#state_search").html('<option value="">--select state--</option>{% for state in states %}{% if country.country_id == state.country_id %}<option value="{{state.stateprov_id}}">{{state.name}}</option>{% endif %}{% endfor %}');
				}
			{% endfor %}
		});
	});
</script>
</html>
