<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Solic Add</title>
	{% include 'bootstrapimport.html' %}
	<script>
		number_of_link_fields = 0;
	</script>
</head>
<body>
	<div class="container">
		<form action="storesolicdata" method="post">
			{% csrf_token %}
			<table class="table border border-secondary">
				<tr class="thead-dark"><th colspan="7" style="text-align: center; color: red;">Required</th></tr>
				<tr>
					<td class="required">Source</td>
					<td colspan="6"><input type="text" class="form-control" name="required_source_url" required></td>
				</tr>
				<tr>
					<td class="required">Country</td>
					<td style="width: 50px;">
						<select name="required_country_name" id="country_search" class="form-control" required>
							<option value="">---select Country-----</option>
							{% for country in countries %}
							<option value="{{ country.country_id }}">{{ country.name }}</option>
							{% endfor %}
						</select>
					</td>
					<td class="required">State</td>
					<td>
						<select name="required_state_name" id="state_search" class="form-control" >
							<option value="">---select state-----</option>

						</select>
					</td>
					<td colspan="2" class="required" >County</td>
					<td>
						<select name="required_county_name" id="county_search" class="form-control" >
							<option value="">---select county-----</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="required">Bid Date</td>
					<td><input type="date" class="form-control" name="required_bid_date" required></td>
					<td class="required">Bid Time</td>
					<td>
						<select name="required_bid_time" class="form-control" required>
							<option value="">--select time--</option>
							<option value="9:00 AM">9:00 AM</option>
							<option value="10:00 AM">10:00 AM</option>
							<option value="11:00 AM">11:00 AM</option>
							<option value="12:00 PM">12:00 PM</option>
							<option value="1:00 PM">1:00 PM</option>
							<option value="2:00 PM">2:00 PM</option>
							<option value="3:00 PM">3:00 PM</option>
							<option value="4:00 PM">4:00 PM</option>
							<option value="5:00 PM">5:00 PM</option>
						</select>
					</td>
					<td class="required" colspan="2">
						<label for="presol">Presol</label> 
						<input type="checkbox" name="required_presol" id="presol" value="1">
					</td>
					<td class="required">
						<label for="Incomplete_required">Incomplete</label>
						<input type="checkbox" name="required_incomplete" id="Incomplete_required">
					</td>
				</tr>
				<tr>
					<td class="required">
						<input type="radio" name="required_bidtype" id="requiredPrivate" value="private" required>
						<label for="requiredPrivate">Private</label>
						<input type="radio" name="required_bidtype" id="requiredFederal" value="tags[]">
						<label for="requiredFederal">Federal</label>
						<input type="radio" name="required_bidtype" id="requiredNone" value="none" checked>
						<label for="requiredNone">None</label>
					</td>
					<td  class="required">
						<label for="Sub-Contract">Sub-Contract: </label>
						<input type="checkbox" name="tags[]" id="Sub-Contract">
					</td>
					<td class="required">Class</td>
					<td>
						<select name="required_class" class="form-control" required>
							<option value="">--select class--</option>
							{% for projectclass in projectclasses %}
							<option value="{{projectclass.classname_id}}">{{projectclass.classname}}</option>
							{% endfor %}
						</select>
					</td>
					<td class="required">Source</td>
					<td colspan="2">
						<select name="required_source" id="" class="form-control" required>
							<option value="">-- select source --</option>
							{% for source in sources %}
							<option value="{{source.sourcetypeid}}">{{source.name}}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
			</table>
			<table class="table border border-dark">
				<thead class="thead-dark">
					<tr>
						<th colspan="5" style="text-align: center; color: #FF99FF">Information</th>
					</tr>
				</thead>
				<tr>
					<td colspan="3">Owner's Solicictation Name <button type="button" class="btn btn-sm btn-info" onclick="case_corrector('owner_solicitation_name')">Case Corrector</button> </td>
					<td colspan="2">Owner's Solicitation/Bid Number</td>
				</tr>
				<tr>
					<td colspan="3"><input type="text" class="form-control" name="owner_solicitation_name"></td>
					<td colspan="2"><input type="text" class="form-control" name="bid_number"></td>
				</tr>
				<tr>
					<td>Location <!-- <button type="button" class="btn btn-sm btn-info" onclick="case_corrector('owner_location')">Case Corrector</button> --> </td>
					<td>Low Value</td>
					<td></td>
					<td>High Value</td>

					<td>Bond: 
						<input type="radio" name="bond" onclick="change_bond_data(5)" id="5%"><label for="5%">5%</label> 
						<input type="radio" name="bond" onclick="change_bond_data(10);" id="10%"><label for="10%">10%</label>
					</td>
				</tr>
				<tr>	
					<!-- <td><input type="text" class="form-control" name="owner_location"></td> -->
					<td>
						<select name="owner_location" class="form-control">
							<option value="">--select location--</option>
							{% for location in locations %}
							<option value="{{ location.location_id }}">{{location.name}}</option>
							{% endfor %}
						</select>
					</td>
					<td><input type="text" class="form-control" name="low_value"></td>
					<td><button type="button" class="btn btn-sm btn-outline-primary">=</button></td>
					<!-- <td></td> -->
					<td><input type="text" class="form-control" name="high_value"></td>
					<td><input type="text" class="form-control" id="bond_data" name="bond_percentage"></td>
				</tr>
				<tr>
					<td colspan="1" style="text-align: center;">Pre-bid Date:</td>
					<td colspan="1"><input type="date" name="pre_bid_date" id="pre_bid_date" class="form-control"></td>
					<td></td>
					<td colspan="2">
						<label style="float: left; margin-right: 20px;" >Pre-Bid Time</label>
						<select name="pre_bid_time" id="" class="form-control" style="width: 50%;">
							<option value="9:00 AM">9:00 AM</option>
							<option value="10:00 AM">10:00 AM</option>
							<option value="11:00 AM">11:00 AM</option>
							<option value="12:00 PM">12:00 PM</option>
							<option value="1:00 PM">1:00 PM</option>
							<option value="2:00 PM">2:00 PM</option>
							<option value="3:00 PM">3:00 PM</option>
							<option value="4:00 PM">4:00 PM</option>
							<option value="5:00 PM">5:00 PM</option>
						</select>
					</td>
				</tr>
				<tr>
					<td colspan="1"><label for="mandatory">Mandatory</label><input type="checkbox" name="mandatory" id="mandatory"></td>
					<td colspan="2"><label for="prequal_required">Prequal required</label><input type="checkbox" name="prequal_required" id="prequal_required"></td>
					<td colspan="2">
						<label for="term_contract">Term Contract </label>
						<input type="checkbox" name="term_contract" id="term_contract">
					</td>
				</tr>
				<tbody id="term_contract_data">
					<tr>
						<td>Current Contract Start:</td>
						<td> <input type="text" class="form-control" name="currentcontractstatus"> </td>
						<td colspan="2">Current Contract End:</td>
						<td> <input type="text" class="form-control" name="currenctcontractend" > </td>
					</tr>
					<tr>
						<td>Original Contract Start:</td>
						<td><input type="text" class="form-control" name="originalcontractstart"></td>
						<td colspan="2">Original Contract End:</td>
						<td><input type="text" class="form-control" name="originalcontractend"></td>
					</tr>
					<tr>
						<td>Contract Term in months</td>
						<td><input type="text" class="form-control" name="contract_term"></td>
						<td colspan="2">Number of Extentions in months</td>
						<td><input type="text" class="form-control" name="numberofextention"></td>
					</tr>
					<tr>
						<td>Lenths of Extentions(months)</td>
						<td><input type="text" class="form-control" name="lengthofextentions"></td>
						<td colspan="2">Contract Status</td>
						<td>
							<select name="contract_status" class="form-control">
								<option value=""></option>
								{% for status in projectstatus %}
									<option value="{{ status.pk}}">{{ status.status }}</option>
								{% endfor %}
							</select>
						</td>
					</tr>
				</tbody>
			</table>
			{% include 'solicitation/component/setaside.html' %}
			<div class="row border border-secondary">
				<h5 class="col-lg-12" style="text-align: center; background-color: #252525; color: #fff; padding-top: 10px; padding-bottom: 10px;">NOTES</h5>
				<div class="col-lg-6">
					Scope: <button type="button" class="btn btn-sm btn-info" onclick="case_corrector('notes_scope')">Case Corrector</button>
					<textarea class="form-control "rows="8" name="notes_scope"></textarea>
				</div>
				<div class="col-lg-6">
					Plans and Specs <button type="button" class="btn btn-sm btn-info" onclick="case_corrector('notes_plans_specs')">Case Corrector</button> <input type="checkbox" id="noadr" name="no_adr"><label for="noadr">No ADR</label>
					<textarea class="form-control "rows="8" name="notes_plans_specs"></textarea>
					plan price: <input type="number" style="width: 50%;" name="plan_price">
				</div>
				<div class="col-lg-12"><strong>Outside Link:</strong></div>
				<div id="addfield" class="col-lg-12">
					<input type="text" class="form-control" name="linkfield[]">
				</div>
				<div class="col-lg-12">
					<button type="button" class="btn btn-outline-secondary btn-sm" onclick="addfield()">Add Field</button>
				</div>
				<br><br><br>
				<div class="col-lg-6">
					Notes:
					<button type="button" class="btn btn-sm btn-info" onclick="case_corrector('notes_notes')">Case Corrector</button>
					<button type="button" class="btn btn-sm btn-info" onclick="clear_notes()">Clear Notes </button>
					<input type="checkbox" id="fed_funding" name="fed_funding"><label for="fed_funding">Fed funding</label>
					<input type="checkbox" id="prev_wage" name="prev_wage"><label for="prev_wage">Prev Wage</label>
					<textarea class="form-control "rows="8" name="notes_notes" id="notes_notes"></textarea>
				</div>
				<div class="col-lg-6">
					<p>Reporter Notes</p>
					<textarea class="form-control "rows="8" name="reporter_notes"></textarea>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-lg-2">Solicitor</div>
				<div class="col-lg-10">	
					<select name="Solicotor" class="form-control">
						<option value="">Owner</option>
						<option value="">Engineer</option>
						<option value="">Prime Contractor/Construction Manager</option>
					</select>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-lg-6 border border-secondary">
					{% include 'solicitation/component/ownertable.html' %}
				</div>
				<div class="col-lg-6 border border-secondary">
					{% include 'solicitation/component/engineertable.html' %}
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 border border-secondary">
					{% include 'solicitation/component/planandspecs.html' %}
				</div>
				<div class="col-lg-6 border border-secondary">
					{% include 'solicitation/component/primecontractor.html' %}
				</div>	
			</div>
			<br>
			<br>
			{% include 'solicitation/component/worktypes.html' %}
			<center><input type="submit" value="submit" class="btn btn-success"></center>
			<br>
		</form>
	</div>
	<br>
	
</body>
{% include 'solicitation/component/solicjs.html' %}
</html>
