<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Solicitation edit</title>
	{% include 'bootstrapimport.html' %}
</head>
<body>
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-info container text-center" role="alert">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
	<table class="table container text-center">
		<thead class="thead-dark">
			<tr>
				<th>Project Num</th>
				<th>Owner name</th>
				<th>State</th>
				<th>County</th>
				<th>date</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for project in projects %}
				<tr>
					<td>{{ project.ownerprjname }}</td>
					<td>{{ project.owner.entityname }}</td>
					<td>{{ project.stateprov }}</td>
					<td>{{ project.county }}</td>
					<td>{{ project.dtlead }}</td>
					<td><a href="{% url 'solicitation:editsolicitation' project.pk %}">Edit</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% include 'solicitation/edit-solicitation/solicitation_list_pagination.html' %}
</body>
</html>