<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Solic Add</title>
	{% include 'bootstrapimport.html' %}
	<script>
		number_of_link_fields = 0;
	</script>
</head>
<body>
	<div class="container">
		<form action="storesolicdata" method="post">
			{% csrf_token %}
			{% include 'solicitation/component/required.html' %}
			{% include 'solicitation/component/information.html' %}
			{% include 'solicitation/component/setaside.html' %}
			<div class="row border border-secondary">
				{% include 'solicitation/component/notes.html' %}
			</div>
			<hr>
			<div class="row">
				<div class="col-lg-2">Solicitor</div>
				<div class="col-lg-10">	
					<select name="Solicotor" class="form-control">
						<option value="">Owner</option>
						<option value="">Engineer</option>
						<option value="">Prime Contractor/Construction Manager</option>
					</select>
				</div>
			</div>
			<hr>
			<div class="row">
				{% include 'solicitation/component/ownertable.html' %}
				{% include 'solicitation/component/engineertable.html' %}
			</div>
			<div class="row">
				{% include 'solicitation/component/planandspecs.html' %}
				{% include 'solicitation/component/primecontractor.html' %}
			</div>
			<br>
			<br>
			{% include 'solicitation/component/worktypes.html' %}
			<center><input type="submit" value="submit" class="btn btn-success"></center>
			<br>
		</form>
	</div>
	<br>
	
</body>
{% include 'solicitation/component/solicjs.html' %}
</html>
