{% load static %}
<link rel="stylesheet" href="{% static 'bootstrap-4.3.1/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'style.css' %}">
<script src="{% static 'bootstrap-4.3.1/js/bootstrap.min.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>